<template>
  <v-container fluid style='background-color: #0C2A44; min-height: calc(100vh - 48px)'>
    <v-row align="center" justify="center">
      <v-col cols="12" class="no-padding">
        <v-img
          :src="require(`~/assets/svg/${landingImage}.${imageFormat}`)"
          alt="Imagem de Apresentação"
          width='100%'
          class="image-desktop"
        ></v-img>
        <div v-if='!screenMobile' class='title-text-position-desktop text-center'>
          <span class='title-text'>Nós temos o imóvel</span><br>
          <span class='title-text text-center'>que você procura!</span>
        </div>
        <div v-if='screenMobile' class='title-text-position'>
          <span class='title-text'>Nós temos o imóvel <br>que você procura!</span>
        </div>
      </v-col>
      <v-card :elevation='cardElevation' :color='cardColor' width='500px' :class='`${cardPadding} card-position`'>
        <div class="transition-container">
          <transition name="slide">
            <FilterForm
              v-if='!searchByCode'
              :property-types.sync='propertyTypesSelected'
              :states.sync='statesSelected'
              :cities.sync='citiesSelected'
              :neighborhoods.sync='neighborhoodsSelected'
              @search-by-code='searchByCode = !searchByCode'
              @search='search'
            />
            <CodeForm
              v-else
              :idcrm.sync='idReferenciaCRM'
              @search-by-location='searchByCode = !searchByCode'
              @search-code='searchCode'
            />
          </transition>
        </div>
      </v-card>
    </v-row>
    <div class='whatsapp-button'>

      <v-btn
        icon
        style='background-color: #25D366'
        width='55'
        height='55'
        rounded
        @click='whatsappDialog = true'
      >
        <v-icon size='40px' color='white' >mdi-whatsapp</v-icon>
      </v-btn>



      <LeadDialog
        v-if='whatsappDialog'
        :show.sync='whatsappDialog'
        :page.sync='page'
        :id-imovel='``'
      />


    </div>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { BusinessTypes } from '~/models/Property'

@Component({
  computed: {
    BusinessTypes() {
      return BusinessTypes
    }
  },
  components: {
    LeadDialog: () => import('../components/leads/LeadDialog.vue'),
    FilterForm: () => import('~/components/landing-page/FilterForm.vue'),
    CodeForm: () => import('~/components/landing-page/CodeForm.vue')
  },
})


export default class LandingPage extends Vue {
  propertyTypesSelected?: string[] = []
  statesSelected?: string[] = []
  citiesSelected?: string[] = []
  neighborhoodsSelected?: string [] = []
  idReferenciaCRM?: string = ''
  searchByCode: boolean = false
  screenMobile: boolean = false

  mounted() {
    if (this.$vuetify.breakpoint.name === 'xs') {
      this.screenMobile = true
    }
  }

  search() {
    const pageName = this.$store.state.toggleBusinessType === 0 ? 'comprar' : 'alugar'
    this.$router.push({
      name: pageName,
      query: {
        propertyTypes: this.propertyTypesSelected ? this.propertyTypesSelected.join(",") : "",
        states: this.statesSelected ? this.statesSelected.join(",") : "",
        cities: this.citiesSelected ? this.citiesSelected.join(",") : "",
        neighborhoods: this.neighborhoodsSelected ? this.neighborhoodsSelected.join(",") : ""
      }
    })
  }


  searchCode() {
    this.$router.push({
      name: 'comprar',
      query: {
        idReferenciaCRM: this.idReferenciaCRM
      }
    })
  }

  get landingImage() {
    return this.$vuetify.breakpoint.name === 'xs' ? 'landing-page' : 'landing-image2'
  }

  get imageFormat() {
    return this.$vuetify.breakpoint.name === 'xs' ? 'svg' : 'jpg'
  }

  get cardPadding() {
    return this.$vuetify.breakpoint.name === 'xs' ? 'px-6' : 'pa-6'
  }

  get cardColor() {
    return this.$vuetify.breakpoint.name === 'xs' ? 'transparent' : 'rgba(12,42,68,0.95)'
  }

  get cardElevation() {
    return this.$vuetify.breakpoint.name === 'xs' ? 0 : 2
  }




  whatsappDialog = false
  page = "landingPage"


}
</script>
<style scoped>
.no-padding {
  padding: 0 !important;
}

.image-desktop {
  height: calc(100vh - 48px);
}

.whatsapp-button {
  position: fixed;
  bottom: 5vh;
  left: 15px;
}

.title-text {
  font-size: 50px;
  color: #0C2A44;
  font-weight: bold;
  font-family: 'Noto Serif Display', serif;
}

.title-text-position {
  position: absolute;
  top: 120px;
  width: 58%;
}

.title-text-position-desktop {
  position: absolute;
  top: 86px;
  left: calc(44vw - 90px);
  transform: translate(-50%, -50%);
}

.transition-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 400px;
}

.slide-enter-active, .slide-leave-active {
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
}
.slide-enter, .slide-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.card-position {
  position: absolute;
  right: 10vh;
  border-radius: 30px !important;
}

@media (max-width: 960px) {
  .image-desktop {
    height: 280px;
  }
  .title-text-position {
    width: 100%;
    top: 20px
  }
  .title-text {
    font-size: 25px;
    font-family: 'Noto Serif Display', serif;
  }
  .card-position {
    position: relative;
    right: 0;
    top: 0;
  }
}
</style>

