<template>
	<body>
		<v-container>
			<v-card style='background-color: #212121' class='white--text'>
				<v-card-title class='px-6'>Política de Privacidade</v-card-title>
				<v-divider class='white'></v-divider>
				<v-card-text class='white--text px-6'>
					<p><span class='privacy-text'>A sua privacidade é importante para nós. É política do ALTATECH imóveis respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site <a href="/" style='color: #FF6600'>ALTATECH imóveis</a>, e outros sites que possuímos e operamos.</span></p>
					<p><span class='privacy-text'>Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemos por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado.</span></p>
					<p><span class='privacy-text'>Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.</span></p>
					<p><span class='privacy-text'>Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</span></p>
					<p><span class='privacy-text'>O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas&nbsp;</span><a href="https://politicaprivacidade.com/" rel="noopener noreferrer" target="_blank" style="background-color: transparent; color: #FF6600">políticas de privacidade</a><span style="color: rgb(68, 68, 68);">.</span></p>
					<p><span class='privacy-text'>Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.</span></p>
					<p><span class='privacy-text'>O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contato conosco.</span></p>
				</v-card-text>
				<v-card-title class='px-6'>Compromisso do Usuário</v-card-title>
				<v-card-text class='white--text px-6'>
					<p><span class='privacy-text'>O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o ALTATECH imóveis oferece no site e com caráter enunciativo, mas não limitativo:</span></p>
					<ul>
						<li><span class='privacy-text'>Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;</span></li>
						<li><span class='privacy-text'>Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, jogos ou azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;</span></li>
						<li><span class='privacy-text'>Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) da ALTATECH imóveis, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.</span></li>
					</ul>
				</v-card-text>
				<v-card-title class='px-6'>Mais informações</v-card-title>
				<v-card-text class='white--text px-6'>
					<p><span class='privacy-text'>Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa em nosso site.</span></p>
					<p><span class='privacy-text'>Esta política é efetiva a partir de&nbsp;9 May 2023 15:15</span></p>
				</v-card-text>
			</v-card>
		</v-container>
	</body>
</template>

<script lang='ts'>
import { Vue } from 'nuxt-property-decorator'
export default class PrivacyPolicyView extends Vue{

}
</script>

<style>
body {
	background-color: #424242;
}

.privacy-text {
	font-size: 15px;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

.scroll-mobile::-webkit-scrollbar-thumb {
	background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
</style>
