<template>
	<div>
		<v-container v-if="property && $vuetify.breakpoint.xsOnly" fluid class="pa-0">
			<v-row no-gutters>
				<ImagesCarousel v-if="property.images && property.images.length > 0" :property-images="property.images" @image-click="openImages" />
			</v-row>

			<v-row no-gutters>
				<v-col class="pa-0" style="min-height: 400px">
					<PropertyChip :property.sync="property" :show-lead-form.sync="showLeadForm" :show-lead-send-alert.sync="showLeadSendAlert" :lead-alert-message.sync="leadAlertMessage" :lead-alert-type.sync="leadAlertType"></PropertyChip>
				</v-col>
				<v-col v-if="!screenMdAndDown" id="coluna-imagens" cols="6" xs="12" sm="12" md="6">
					<v-container id="scroll-target" style="max-height: 800px; background-color: #424242" class="overflow-y-auto" fluid>
						<v-row align="center" justify="center" style="height: 800px">
							<v-row v-if="property.images" no-gutters>
								<v-col v-if="property.images.length > 0" class="pl-2" cols="12" md="12">
									<v-row no-gutters>
										<v-col v-for="image in highlightPropertyImages" :key="image.url" class="d-flex child-flex" cols="12">
											<v-img :src="image.url" lazy-src="@/assets/blank.png" aspect-ratio="2" class="grey lighten-2 ma-1" style="cursor: pointer; border-radius: 10px" @click="openImages(image.url)">
												<template #placeholder>
													<v-row class="fill-height ma-0" align="center" justify="center">
														<v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
													</v-row>
												</template>
											</v-img>
										</v-col>
									</v-row>
									<v-row no-gutters class="mt-0">
										<v-col v-for="image in propertyImages" :key="image.url" class="d-flex child-flex" cols="4">
											<v-img :src="image.url" lazy-src="@/assets/blank.png" aspect-ratio="1" class="grey lighten-2 ma-1" style="cursor: pointer; border-radius: 10px" @click="openImages(image.url)">
												<template #placeholder>
													<v-row class="fill-height ma-0" align="center" justify="center">
														<v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
													</v-row>
												</template>
											</v-img>
										</v-col>
									</v-row>
								</v-col>
							</v-row>
						</v-row>
					</v-container>
				</v-col>
			</v-row>
		</v-container>
		<v-container v-else-if="property && $vuetify.breakpoint.smAndUp" fluid>
			<v-row no-gutters>
				<v-col id='coluna-imagens' cols='6' xs='12' sm='12' md='7'>
					<section class="properties-grid-scroll mt-3">
						<v-row v-if="property.images" no-gutters>
							<v-col v-if="property.images.length > 0" class="px-2" cols="12" md="12">
								<v-row no-gutters>
									<v-col cols="8">
										<v-img
											v-for='image in highlightPropertyImages'
											:key='image.url'
											style='cursor: pointer; border-radius: 10px'
											:src="image.url"
											lazy-src="/assets/blank.png"
											aspect-ratio="1"
											class="grey lighten-2 ma-1"
											@click="openImages(image.url)"
										>
											<template #placeholder>
												<v-row
													class="fill-height ma-0"
													align="center"
													justify="center"
												>
													<v-progress-circular
														indeterminate
														color="grey lighten-5"
													></v-progress-circular>
												</v-row>
											</template>
										</v-img>
									</v-col>
									<v-col cols="4">
										<v-img
											v-for="(image, index) in propertyImages.slice(0, 2)"
											:key="image.url"
											style='cursor: pointer; border-radius: 10px'
											:src="image.url"
											lazy-src="/assets/blank.png"
											aspect-ratio="1"
											:class="`grey lighten-2 ${index == 1 ? 'ma-1': 'mt-1 mx-1 mb-2'}`"
											@click="openImages(image.url)"
										>
											<template #placeholder>
												<v-row
													class="fill-height ma-0"
													align="center"
													justify="center"
												>
													<v-progress-circular
														indeterminate
														color="grey lighten-5"
													></v-progress-circular>
												</v-row>
											</template>
										</v-img>
									</v-col>
									<v-col cols="12">
										<v-row no-gutters class='mt-0'>
											<v-col
												v-for="image in propertyImages"
												:key="image.url"
												class="d-flex child-flex"
												cols="4"
											>
												<v-img
													style='cursor: pointer; border-radius: 10px'
													:src="image.url"
													lazy-src="/assets/blank.png"
													aspect-ratio="1"
													class="grey lighten-2 ma-1"
													@click="openImages(image.url)"
												>
													<template #placeholder>
														<v-row
															class="fill-height ma-0"
															align="center"
															justify="center"
														>
															<v-progress-circular
																indeterminate
																color="grey lighten-5"
															></v-progress-circular>
														</v-row>
													</template>
												</v-img>
											</v-col>
										</v-row>
									</v-col>
								</v-row>
							</v-col>
						</v-row>
					</section>
				</v-col>

				<v-col id='coluna-info' dense>
					<section class="mt-3">
					<v-row>
						<v-col cols="6" md="12">
							<PropertyChip
								:property.sync='property'
								:show-lead-form.sync='showLeadForm'
								:show-lead-send-alert.sync='showLeadSendAlert'
								:lead-alert-message.sync='leadAlertMessage'
								:lead-alert-type.sync='leadAlertType'
							></PropertyChip>
						</v-col>
					</v-row>
					</section>
				</v-col>
			</v-row>
		</v-container>

		<!-- Imagens Fullscreen -->
		<PropertyImagesDialog :show.sync="showFullscreenImages" :property="property" :index.sync="latestImgIndexClicked" />
	</div>
</template>

<script lang="ts">
import { Component, PropSync, Vue } from 'nuxt-property-decorator'
import { Property, BusinessTypes } from '~/models/Property'
import { getBusinessTypeValueObjects, getPropertyTypeValueObjects, getZoneValueObjects, getType } from '@/utils/property.utils'

@Component({
	components: {
		ImagesCarousel: () => import('@/components/home/ImagesCarousel.vue'),
		PropertyImagesDialog: () => import('@/components/properties/PropertyImagesDialog.vue'),
		PropertyChip: () => import('@/components/property-info/PropertyChip.vue'),
	},
	metaInfo() {
		return {
			title: this.$data.property?.title,
			meta: [
				{ name: 'description', content: '' },
				{ property: 'og:title', content: this.$data.property?.title },
				{ property: 'og:site_name', content: 'Altatech Imoveis' },
				{ property: 'og:description', content: '' },
				{ property: 'og:type', content: 'website' },
				{ property: 'og:image:width', content: '1200' },
				{ property: 'og:image:height', content: '630' },
				{ property: 'og:image', content: this.$data.property?.images[0].url },
			],
		}
	},
})
export default class PropertyDetailsView extends Vue {
	@PropSync('propertyService', { type: Object, default: {} })
	property: Property | undefined

	showFullscreenImages = false
	latestImgIndexClicked = 0
	showLeadForm = false
	showLeadSendAlert = false
	leadAlertMessage = ''
	leadAlertType = 'error'
	screenMdAndDown = false
	scrollColor = 'overflow-y-auto'

	mounted() {
		const screenSizeName = this.$vuetify.breakpoint.name
		this.screenMdAndDown = false
		this.screenMdAndDown = screenSizeName === 'xs' || screenSizeName === 'sm' || screenSizeName === 'md'
		if (this.screenMdAndDown) {
			this.scrollColor = 'overflow-y-auto scroll-mobile'
		}
	}

	myEventHandler() {
		const screenSizeName = this.$vuetify.breakpoint.name
		this.screenMdAndDown = false
		this.screenMdAndDown = screenSizeName === 'xs' || screenSizeName === 'sm' || screenSizeName === 'md'
	}

	openImages(url: string) {
		const index = this.property?.images?.findIndex((image) => {
			return image.url === url
		})

		this.showFullscreenImages = true
		this.latestImgIndexClicked = index || 0
	}

	get title() {
		if (!this.property) {
			return ''
		}
		if (!this.property.type) {
			console.log('sem property type:', this.property)
			return ''
		}
		let title = `${getType(this.property.type) || this.property.type}`
		if (this.property.neighbourhood) {
			title += ` no ${this.property.neighbourhood}`
		} else if (this.property.city) {
			title += ` em ${this.property.city}`
		}
		return title
	}

	get displayValueComponent() {
		if (!this.property) {
			return ''
		}
		switch (this.property.businessType) {
			case BusinessTypes.RENT:
				return 'display-rent-values'
			case BusinessTypes.SALE:
				return 'display-sale-values'
			default:
				return ''
		}
	}

	get zones() {
		return getZoneValueObjects()
	}

	get propertyTypes() {
		return getPropertyTypeValueObjects()
	}

	get businessTypes() {
		return getBusinessTypeValueObjects()
	}

	get propertyImages() {
		return (
			this.property?.images?.filter((image) => {
				return !image.highlight
			}) || []
		)
	}

	get highlightPropertyImages() {
		return (
			this.property?.images?.filter((image) => {
				return image.highlight
			}) || []
		)
	}
}
</script>
<style>
/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

.scroll-mobile::-webkit-scrollbar-thumb {
	background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
</style>
