<template>
	<v-container fluid class="py-0 px-0 mx-0">
		<v-row v-if="loading" no-gutters>
			<v-col>
				<PropertiesGridLoading />
			</v-col>
		</v-row>
		<v-row v-if="!loading" no-gutters>
			<v-col v-if="!mapShowXl" cols="12" :md="showMap ? 8 : 12" :lg="showMap ? 7 : 12">
				<section v-if="properties.length > 0" id="properties" :class="gridClassName">
					<properties-filter-toolbar
						:filters.sync="filters"
						:active-filters.sync='activeFilters'
						:show-map.sync="showMap"
						:toolbar-title="title"
						:states="states"
						@filter="loadProperties"
						@clear='clearAllFilters'
					/>
					<properties-grid :properties="properties" :half-screen="showMap" @open-property-sheet="onOpenPropertySheet" />
					<div class="text-center" color="F0FFFF">
						<v-container>
							<v-row justify="center">
								<v-col cols="8">
									<v-container class="max-width">
										<v-pagination v-model="filters.page" class="my-4" :length="numberOfPages" circle color="#FF6600" @input="loadProperties(filters)"></v-pagination>
									</v-container>
								</v-col>
							</v-row>
						</v-container>
					</div>
				</section>
				<section v-else class="mt-3" style="height: 85vh">
					<v-sheet class="d-flex align-center justify-center flex-wrap text-center mx-auto px-4" elevation="4" height="450" rounded max-width="800" width="100%">
						<div>
							<v-img src="https://cdn-icons-png.flaticon.com/512/9841/9841569.png" width="200px" class="mx-auto mb-2"></v-img>
							<div class="text-h5 font-weight-medium mb-2">Opa! Não encontramos o imóvel que está procurando 😥</div>
							<p class="text-body-2 mb-4">Você pode tentar outras opções de filtro!</p>
							<v-btn variant="text" color="#FF6600" @click="resetLoadProperties">Voltar aos imóveis</v-btn>
						</div>
					</v-sheet>
				</section>
			</v-col>
			<v-slide-x-reverse-transition>
				<v-col v-if="properties.length > 0 && showMap">
					<section>
						<GoogleMapLoader v-if="properties.length || mapShowXl" :properties="propertiesWithCoordinates"> </GoogleMapLoader>
					</section>
				</v-col>
			</v-slide-x-reverse-transition>
		</v-row>
		<PropertyBottomSheet v-if="selectedProperty !== undefined" :open.sync="sheet" :property="selectedProperty" @image-click="handleImageClicked" />
		<PropertyImagesDialog v-if="selectedProperty !== undefined" :show.sync="showFullscreenImages" :property="selectedProperty" :index.sync="latestImgIndexClicked" />
		<PropertyDialog v-if="selectedProperty !== undefined" :open.sync="dialog" :property-selected="selectedProperty" @image-click="handleImageClicked" />
	</v-container>
</template>

<script lang="ts">
// <reference types="googlemaps" />
import { Component, PropSync, Vue, Watch } from 'nuxt-property-decorator'
import { BusinessTypes, Property } from '~/models/Property'
import Service from '@/service/SearchService'
import { ActiveFilters, SearchFilter } from '@/models/search/SearchFilter'
import { Cidade, requestStates, States, StatesResponse } from '@/utils/states'
import { getBusinessTypeRoute } from "@/utils/property.utils";
import PropertyDialog from '~/components/properties/PropertyDialog.vue'
import PropertiesFilterToolbar from '@/components/home/PropertiesFilterToolbar.vue'

@Component({
	components: {
		PropertyDialog,
		PropertiesFilterToolbar,
		PropertiesGridLoading: () => import('@/components/PropertiesGridLoading.vue'),
		PropertyChip: () => import('@/components/property-info/PropertyChip.vue'),
		PropertyBottomSheet: () => import('@/components/properties/PropertyBottomSheet.vue'),
		PropertyImagesDialog: () => import('@/components/properties/PropertyImagesDialog.vue'),
		PriceFilterMenu: () => import('@/components/home/PriceFilterMenu.vue'),
		PropertiesGrid: () => import('@/components/home/PropertiesGrid.vue'),
		GoogleMapLoader: () => import('@/components/google-maps/GoogleMapLoader.vue'),
	},
})
export default class PropertiesView extends Vue {
  @Watch('$route', { immediate: true, deep: true })
  onRouteChanged() {
    this.setActiveFilters();
  }

  @PropSync('type', { type: String, required: true })
	businessType!: BusinessTypes

	properties: Property[] = []
	propertiesFound: Property[] = []
	propertiesWithCoordinates: Property[] = []
	filters: SearchFilter = {
    propertyTypes: [],
		qntItens: 30,
		limit: 30,
		priceRange: [0, 0],
		cities: [],
		neighborhoods: [],
		states: [],
		page: 1,
		bedrooms: 0,
		suite: 0,
		toilet: 0,
		car: 0,
		checkSelected: false,
		referencia: '',
		changedFilter: false,
	}

	activeFilters: ActiveFilters = {
		idReferenciaCRM: false,
		states: false,
		cities: false,
		neighborhoods: false,
		propertyTypes: false,
		qtdActiveFilters: 0
	}

	title = ''

	showMap = true
	totalProperties: number = 0
	states: States[] = []
	neighborhoods: string[] = []
	selectedPropertyId: number = 0
	sheet = false
	dialog = false
	loading = true
	showLeadForm = false
	showLeadSendAlert = false
	leadAlertMessage = ''
	leadAlertType = 'error'
	showFullscreenImages = false
	latestImgIndexClicked = 0
	screenSizeXl = false
	btnMapName = 'mapa'
	btnMapIcon = 'mdi-map'
	mapShowXl = false

	get gridClassName() {
		const className = 'properties-grid-scroll'
		if (this.$vuetify.breakpoint.xsOnly) {
			return className + ' scroll-mobile'
		}
		return className
	}

	created() {
		this.filters.businessType = this.businessType
		this.title = this.businessType === BusinessTypes.RENT ? 'Imóveis para alugar' : 'Imóveis à venda'

		if (this.$vuetify.breakpoint.xs) {
			this.showMap = false
		}
	}

	async mounted() {
    this.requestStateList(this.businessType)
		this.setFilters()
    this.setActiveFilters()

    if (this.$route.params.idCRM) {
      this.filters.referencia = this.$route.params.idCRM
		}

    if (this.$route.params.id) {
      this.onOpenPropertySheet(parseInt(this.$route.params.id))
		}

    if (typeof this.$route.query.idReferenciaCRM === 'string'){
      this.filters.referencia = this.$route.query.idReferenciaCRM
    }

		try {
			await this.loadProperties(this.filters)
		} catch (error) {
			console.debug('Ocorreu um erro ao buscar imóveis', error)
		}
	}

  requestStateList(bussiness: BusinessTypes) {
    requestStates(bussiness, this.$axios).then((result: StatesResponse) => {
      this.states.length = 0
      for (const sigla in result) {
        const estadoCidades: Cidade[] = []
        for (const cidadeNome in result[sigla]) {
          const cidade = result[sigla][cidadeNome]
          estadoCidades.push({
            cidade: cidade.cidade,
            bairros: cidade.bairros
          });
        }
        const estado = {
          sigla,
          nome: sigla,
          cidades: estadoCidades
        }
        this.states.push(estado)
      }
    })
  }

	async loadProperties(filter: SearchFilter) {
		this.loading = true
		const propertiesWindow = document.querySelector('#properties')
		propertiesWindow?.scroll(0, 0)
		const data = await Service.searchPublishedProperties(filter, this.$axios)
		console.log(data, filter)
		window.localStorage.setItem('properties.' + this.businessType, JSON.stringify(data))
		this.properties.length = 0
		this.propertiesWithCoordinates.length = 0
		this.properties.push(
			...data.imoveis.filter((property: any) => {
				if (property.businessType === this.businessType) {
					return true
				}
				if (property.businessType === BusinessTypes.BOTH) {
					return true
				}
				return false
			})
		)

		this.propertiesWithCoordinates.push(
			...data.imoveisComGeolocalizacao.filter((property) => {
				if (property.geolocation?.lat !== 0 && property.geolocation?.lon !== 0 && property.businessType === this.businessType) {
					return true
				} else if (property.geolocation?.lat !== 0 && property.geolocation?.lon !== 0 && property.businessType === BusinessTypes.BOTH) {
					return true
				}
				return false
			})
		)

    if (this.properties.length === 1) {
      if (this.properties[0].id) {
        this.onOpenPropertySheet(this.properties[0].id)
      }
    }

		if (this.properties.length === 0) {
			await this.alternativeBusinessType(filter)
		} else {
			this.loading = false
		}

		this.totalProperties = data.qtdTotalItens
	}

	getBusinessTypeRoute(t: BusinessTypes) {
		return getBusinessTypeRoute(t)
	}

	async alternativeBusinessType(filter: SearchFilter) {
		const alternativeFilter = { ...filter }
		if (this.businessType === BusinessTypes.SALE) {
			alternativeFilter.businessType = BusinessTypes.RENT
		} else {
			alternativeFilter.businessType = BusinessTypes.SALE
		}
		alternativeFilter.priceRange = [0, 0]
		const data = await Service.searchPublishedProperties(alternativeFilter, this.$axios)
		this.propertiesFound.length = 0
		this.propertiesFound.push(
			...data.imoveis.filter((property: any) => {
				if (property.businessType === alternativeFilter.businessType) {
					return true
				}
				if (property.businessType === BusinessTypes.BOTH) {
					return true
				}
				return false
			})
		)

		if (this.propertiesFound.length > 0 && this.propertiesFound[0].id !== undefined && this.propertiesFound[0].idCRM !== undefined) {
			if (this.$vuetify.breakpoint.name === 'xs') {
				await this.$router.push(`/${this.getBusinessTypeRoute(alternativeFilter.businessType)}/` + this.propertiesFound[0].idCRM)
			} else {
				await this.$router.push({
					name: this.getBusinessTypeRoute(alternativeFilter.businessType),
					params: {
						id: this.propertiesFound[0].id.toString(),
						idCRM: this.propertiesFound[0].idCRM,
					},
				})
			}
		} else {
			this.loading = false
		}
	}

	mapShow() {
		this.mapShowXl = !this.mapShowXl
		if (this.mapShowXl) {
			this.btnMapName = 'Imóveis'
			this.btnMapIcon = 'mdi-home'
			this.showMap = true
		} else {
			this.btnMapName = 'Mapa'
			this.btnMapIcon = 'mdi-map'
			this.showMap = false
		}
		window.scrollTo(0, 0)
	}

  clearAllFilters() {
    this.$router.push({
      query: {
        propertyType: "",
        states: "",
        cities: "",
        neighborhoods: "",
        idReferenciaCRM: "",
        priceMin: "",
        priceMax: ""
      }
    }, () => {
      this.setFilters()
      // this.setActiveFilters()
      this.loadProperties(this.filters)
    })
  }

  setFilters() {
    this.filters.propertyTypes = this.extractArrayFromQuery(this.$route.query.propertyTypes)
    this.filters.states = this.extractArrayFromQuery(this.$route.query.states)
    this.filters.cities = this.extractArrayFromQuery(this.$route.query.cities)
    this.filters.neighborhoods = this.extractArrayFromQuery(this.$route.query.neighborhoods)
    this.filters.referencia = this.$route.query.idReferenciaCRM as string | undefined
	}

  setActiveFilters() {
    this.activeFilters.qtdActiveFilters = 0
    if (this.$route.query.idReferenciaCRM) {
      this.activeFilters.idReferenciaCRM = true
      this.activeFilters.qtdActiveFilters += 1
    }
    if (this.$route.query.propertyTypes) {
      this.activeFilters.propertyTypes = true
      this.activeFilters.qtdActiveFilters += 1
    }
    if (this.$route.query.states) {
      this.activeFilters.states = true
      this.activeFilters.qtdActiveFilters += 1
    }
    if (this.$route.query.cities) {
      this.activeFilters.cities = true
      this.activeFilters.qtdActiveFilters += 1
    }
    if (this.$route.query.neighborhoods) {
      this.activeFilters.neighborhoods = true
      this.activeFilters.qtdActiveFilters += 1
    }
  }

	onOpenPropertySheet(propertyId: number) {
		this.selectedPropertyId = propertyId
		if (this.$vuetify.breakpoint.name === 'xs') {
			this.dialog = false
			this.dialog = true
		} else {
			this.sheet = false
			this.sheet = true
		}
	}

	resetLoadProperties() {
		location.reload()
	}

	handleImageClicked(index?: number) {
		this.showFullscreenImages = true
		this.latestImgIndexClicked = index || 0
	}

	get selectedProperty() {
		if (this.selectedPropertyId === undefined) {
			return undefined
		} else {
			return this.properties.find((property) => {
				return property.id === this.selectedPropertyId
			})
		}
	}

	get numberOfPages() {
		return Math.ceil(this.totalProperties / (this.filters.qntItens || 1))
	}

  extractArrayFromQuery(queryValue: string | (string | null)[] | null): string[] {
    if (typeof queryValue === 'string') {
      return queryValue.split(",").filter(val => val.trim() !== '');
    } else if (Array.isArray(queryValue)) {
      return queryValue.filter(val => val !== null && val.trim() !== '') as string[];
    }
    return [];
  }
}
</script>

<style>
.properties-grid-scroll {
	height: calc(100vh - 72px);
	overflow-y: overlay;
	overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
	width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

.scroll-mobile::-webkit-scrollbar-thumb {
	background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
</style>
