<template>
	<PropertiesView :type="businessType" />
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { BusinessTypes } from '~/models/Property'
import PropertiesView from '~/views/PropertiesView.vue'

@Component({
	components: {
		PropertiesView,
	},
})
export default class SalePropertiesView extends Vue {
	businessType = BusinessTypes.SALE
}
</script>
