<template>
	<body>
		<v-container>
			<v-card style='background-color: #212121' class='white--text'>
				<v-card-title class='px-6'>Termos de Uso</v-card-title>
				<v-divider class='white'></v-divider>
				<v-card-title>1. Termos</v-card-title>
				<v-card-text class='white--text'>
					<p><span class='privacy-text'>Ao acessar o site <a href="/" style='color: #FF6600'>ALTATECH imóveis</a>, você concorda em cumprir estes termos de serviço, todas as leis e regulamentos aplicáveis e concorda que é responsável pelo cumprimento de todas as leis locais aplicáveis. Se você não concordar com algum desses termos, está proibido de usar ou acessar este site. Os materiais contidos neste site são protegidos pelas leis de direitos autorais e marcas comerciais aplicáveis.</span></p>
				</v-card-text>
				<v-card-title>2. Uso de Licença</v-card-title>
				<v-card-text class='white--text'>
					<p><span class='privacy-text'>É concedida permissão para baixar temporariamente uma cópia dos materiais (informações ou software) no site ALTATECH imóveis , apenas para visualização transitória pessoal e não comercial. Esta é a concessão de uma licença, não uma transferência de título e, sob esta licença, você não pode:</span></p>
					<ol>
						<li><span class='privacy-text'>modificar ou copiar os materiais;</span></li>
						<li><span class='privacy-text'>usar os materiais para qualquer finalidade comercial ou para exibição pública (comercial ou não comercial);</span></li>
						<li><span class='privacy-text'>tentar descompilar ou fazer engenharia reversa de qualquer software contido no site ALTATECH imóveis;</span></li>
						<li><span class='privacy-text'>remover quaisquer direitos autorais ou outras notações de propriedade dos materiais;</span></li>
						<li><span class='privacy-text'>transferir os materiais para outra pessoa ou 'espelhe' os materiais em qualquer outro servidor.</span></li>
					</ol>
					<p><br><span class='privacy-text'>Esta licença será automaticamente rescindida se você violar alguma dessas restrições e poderá ser rescindida pela ALTATECH imóveis a qualquer momento. Ao encerrar a visualização desses materiais ou após o término desta licença, você deve apagar todos os materiais baixados em sua posse, seja em formato eletrónico ou impresso.</span></p>
				</v-card-text>
				<v-card-title>3. Isenção de responsabilidade</v-card-title>
				<v-card-text class='white--text'>
					<ol>
						<li><span class='privacy-text'>Os materiais no site da ALTATECH imóveis são fornecidos 'como estão'. ALTATECH imóveis não oferece garantias, expressas ou implícitas, e, por este meio, isenta e nega todas as outras garantias, incluindo, sem limitação, garantias implícitas ou condições de comercialização, adequação a um fim específico ou não violação de propriedade intelectual ou outra violação de direitos.</span></li>
						<li><span class='privacy-text'>Além disso, a ALTATECH imóveis não garante ou faz qualquer representação relativa à precisão, aos resultados prováveis ou à confiabilidade do uso dos materiais em seu site ou de outra forma relacionado a esses materiais ou em sites vinculados a este site.</span></li>
					</ol>
				</v-card-text>
				<v-card-title>4. Limitações</v-card-title>
				<v-card-text class='white--text'>
					<p><span class='privacy-text'>Em nenhum caso a ALTATECH imóveis ou seus fornecedores serão responsáveis por quaisquer danos (incluindo, sem limitação, danos por perda de dados ou lucro ou devido a interrupção dos negócios) decorrentes do uso ou da incapacidade de usar os materiais em ALTATECH imóveis, mesmo que ALTATECH imóveis ou um representante autorizado da ALTATECH imóveis tenha sido notificado oralmente ou por escrito da possibilidade de tais danos. Como algumas jurisdições não permitem limitações em garantias implícitas, ou limitações de responsabilidade por danos conseqüentes ou incidentais, essas limitações podem não se aplicar a você.</span></p>
				</v-card-text>
				<v-card-title>5. Precisão dos materiais</v-card-title>
				<v-card-text class='white--text'>
					<p><span class='privacy-text'>Os materiais exibidos no site da ALTATECH imóveis podem incluir erros técnicos, tipográficos ou fotográficos. ALTATECH imóveis não garante que qualquer material em seu site seja preciso, completo ou atual. ALTATECH imóveis pode fazer alterações nos materiais contidos em seu site a qualquer momento, sem aviso prévio. No entanto, ALTATECH imóveis não se compromete a atualizar os materiais.</span></p>
				</v-card-text>
				<v-card-title>6. Links</v-card-title>
				<v-card-text class='white--text'>
					<p><span class='privacy-text'>A ALTATECH imóveis não analisou todos os sites vinculados ao seu site e não é responsável pelo conteúdo de nenhum site vinculado. A inclusão de qualquer link não implica endosso por ALTATECH imóveis do site. O uso de qualquer site vinculado é por conta e risco do usuário.</span></p>
				</v-card-text>
				<v-card-title>Modificações</v-card-title>
				<v-card-text class='white--text'>
					<p><span class='privacy-text'>A ALTATECH imóveis pode revisar estes termos de serviço do site a qualquer momento, sem aviso prévio. Ao usar este site, você concorda em ficar vinculado à versão atual desses termos de serviço.</span></p>
					<h3><span class='privacy-text'>Lei aplicável</span></h3>
					<p><span class='privacy-text'>Estes termos e condições são regidos e interpretados de acordo com as leis da ALTATECH imóveis e você se submete irrevogavelmente à jurisdição exclusiva dos tribunais naquele estado ou localidade.</span></p>
				</v-card-text>
			</v-card>
		</v-container>
	</body>
</template>

<script lang='ts'>
import { Vue } from 'nuxt-property-decorator'
export default class TermsUseView extends Vue{

}
</script>

<style>
body {
	background-color: #424242;
}

.privacy-text {
	font-size: 15px;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

.scroll-mobile::-webkit-scrollbar-thumb {
	background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
</style>
