<template>
	<v-row no-gutters>
		<v-col>
			<v-card class='mt-4' style='background-color: #616161; color: white'>
				<v-form
					ref="form"
					v-model="valid"
					lazy-validation
					class='mx-4'
          @submit.prevent="enviarLead"
				>
					<v-row no-gutters>
						<v-col>
							<v-text-field
								id='leadName'
								v-model="state.name"
								label="Nome"
								required
								class='text-color mt-3 custom-label-color theme--dark'
								color='#FF6600'
								:error-messages='nameErrors'
                @blur='validationName'
							></v-text-field>
						</v-col>
					</v-row>

					<v-row no-gutters>
						<v-col>
							<v-text-field
								id='leadEmail'
								v-model="state.email"
								label="E-mail"
								required
								class='custom-label-color theme--dark'
								color='#FF6600'
								:error-messages='emailErrors'
                @blur='validationEmail'
							></v-text-field>
						</v-col>
					</v-row>

					<v-row no-gutters>
						<v-col>
							<v-text-field
								id='leadCelular'
								v-model="state.celular"
                v-mask="['(##) ####-####', '(##) #####-####']"
                label="Celular"
                placeholder='(99) 98888-7777'
								required
								class='custom-label-color theme--dark'
								color='#FF6600'
								:error-messages='celularErrors'
                @blur='validationCelular'
							></v-text-field>
						</v-col>
					</v-row>

					<v-row no-gutters>
						<v-col>
							<v-textarea
								id='leadMensagem'
                v-model='mensagem'
                label='Mensagem'
								class='custom-label-color theme--dark'
								color='#FF6600'
								:counter='200'
							></v-textarea>
						</v-col>
					</v-row>

					<v-row no-gutters class='mb-3 mt-2 text-center'>
						<v-col>
							<span style="font-weight: bold">
								Ao enviar você concorda com os <br>
								<a href='/termos-de-uso' target='_blank' style='color: #FF6600'>Termos de Uso</a> e
								<a href='/politica-de-privacidade' target='_blank' style='color: #FF6600'>Políticas de Privacidade</a>.
							</span>
						</v-col>
					</v-row>
					<v-row no-gutters class='text-center'>
						<v-col>
							<v-btn
								rounded
								color="#FF6600"
								class="mr-4 mb-5"
                type="submit"
                :disabled='!isFormFilled'
								:loading="loading"
                width='100%'
                style='color: white'
                @click="enviarLead"
							>
								Enviar
							</v-btn>
						</v-col>
					</v-row>
				</v-form>
			</v-card>
		</v-col>
	</v-row>
</template>

<script lang='ts'>
import { reactive } from 'vue'
import { Component, PropSync, Vue } from 'vue-property-decorator'
import { useVuelidate } from '@vuelidate/core'
import { required, email, minLength } from '@vuelidate/validators'
import VueTheMask from 'vue-the-mask'
import SearchService, { Lead } from '@/service/SearchService'
Vue.use(VueTheMask)

@Component
export default class LeadForm extends Vue {
	@PropSync('idImovel', { type: String, required: true })
	idimovel!: string

	@PropSync('idCrm', { type: String })
	idcrm!: string

	@PropSync('showLeadForm', { type: Boolean, default: false })
	showLeadFormInternal!: boolean

	@PropSync('showLeadSendAlert', { type: Boolean, default: false })
	showLeadSendAlertInternal!: boolean

	@PropSync('leadAlertMessage', { type: String, default: ''})
	leadAlertMessageInternal!: string

	@PropSync('leadAlertType', { type: String, default: 'error'})
	leadAlertTypeInternal!: string

	loading = false
	valid = true

	mensagem = ''

  phone = {
    ddd: '',
    celular: 0
  }

	state = reactive({
		name: '',
		email: '',
		celular: '',
    ddi: '+55'
	})

	validate = {
		name: false,
		email: false,
    emailInvalid: false,
		celular: false,
    celularInvalid: false
	}

	validationForm = false
	nameErrors: string[] = []
	emailErrors: string[] = []
	celularErrors: string[] = []


  get isFormFilled() {
    return this.state.name && this.state.email && this.state.celular
       && !this.validate.name && !this.validate.email && !this.validate.emailInvalid && !this.validate.celular && !this.validate.celularInvalid
  }

  mounted() {
    this.validation()
  }

	validation(){
		const rules = {
			name: { required },
			email: { required, email },
			celular: { required , minLength: minLength(13)}
		}
		const v$ = useVuelidate(rules, this.state)

		this.nameErrors = []
		this.emailErrors = []
		this.celularErrors = []

		this.validate.name = v$.value.name.required.$invalid
		this.validate.email = v$.value.email.required.$invalid
		this.validate.celular = v$.value.celular.required.$invalid
		this.validationForm = v$.value.$invalid
	}

  validationName() {
    const rules = {
      name: { required }
    }
    const v$ = useVuelidate(rules, this.state)

    this.nameErrors = []

    this.validate.name = v$.value.name.required.$invalid
    if (this.validate.name){
      this.nameErrors.length = 0
      this.nameErrors.push('Nome é obrigatório')
    }

    this.validationForm = v$.value.$invalid
  }

  validationEmail() {
    const rules = {
      email: { required, email }
    }
    const v$ = useVuelidate(rules, this.state)

    this.emailErrors = []

    this.validate.email = v$.value.email.required.$invalid
    if (this.validate.email){
      this.emailErrors.length = 0
      this.emailErrors.push('Email é obrigatório')
    }
    this.validate.emailInvalid = v$.value.email.email.$invalid
    if (this.validate.emailInvalid){
      this.emailErrors.length = 0
      this.emailErrors.push('O email precisa ser valido')
    }

    this.validationForm = v$.value.$invalid
  }

  validationCelular() {
    const rules = {
      celular: { required , minLength: minLength(13)}
    }
    const v$ = useVuelidate(rules, this.state)

    this.celularErrors = []

    this.validate.celular = v$.value.celular.required.$invalid
    if (this.validate.celular){
      this.celularErrors.length = 0
      this.celularErrors.push('Celular é obrigatório')
    }
    this.validate.celularInvalid = v$.value.celular.minLength.$invalid
    if (this.validate.celularInvalid){
      this.celularErrors.length = 0
      this.celularErrors.push('Celular inválido!')
    }

    this.validationForm = v$.value.$invalid
  }

	async enviarLead(){
    this.loading = true
    this.phone = this.dddAndPhone(this.state.celular)

    const date = new Date().toISOString().replace('T', ' ').substr(0,19)

    const leadValues: Lead = {
      idImovel: Number(this.idimovel),
      idAssinante: 1,
      idReferenciaCRM: this.idcrm,
      dataCadastro: date,
      name: this.state.name,
      email: this.state.email,
      ddi: this.state.ddi,
      ddd: this.phone.ddd,
      phone: this.phone.celular,
      message: this.mensagem
    }

    await SearchService.insertLead(leadValues, this.$axios)

    setTimeout(() => {
      this.loading = false
      this.showLeadFormInternal = false
      this.leadAlertMessageInternal = 'Mensagem enviada com sucesso'
      this.leadAlertTypeInternal = 'success'
      this.showLeadSendAlertInternal = true
      setTimeout(() => {
        this.state.name = ''
        this.state.email = ''
        this.state.celular = ''
        this.mensagem = ''
      }, 1000)
    }, 2000)
	}

  dddAndPhone(phone: string) {
    const ddd = phone.substring(1, 3)
    let celular: number
    if (this.state.celular.length === 15){
      celular = Number(this.state.celular.substring(4, 10) + this.state.celular.substring(11))
    } else {
      celular = Number(this.state.celular.substring(4, 9) + this.state.celular.substring(10))
    }

    return {ddd, celular}
  }
}
</script>
<style>
.text-color {
	color: red;
}

.custom-label-color .v-label {
	color: white;
	opacity: 1;
}


</style>
