<template>
  <v-dialog v-model='whatsappDialog' width='auto' :fullscreen='isFullScreen' transition='dialog-bottom-transition'>
    <v-card :style="{backgroundImage: `url(${require('@/assets/img/whatsapp.jpg')})`, backgroundSize: 'cover'}">
      <v-card-title style='background-color: #075E54; color: white;'>
        <v-row>
          <v-col cols='2'>
            <v-img
              :width="40"
              :max-width="40"
              :height="40"
              class='mb-1 mr-4'
              cover
              src="https://bitbucket.org/plataformaimobiliaria/site/raw/e9b54ea36411f8c06849eec4c55e8159b9518721/assets/img/altatech-orange-template.png"
              style='border-radius: 100%'
            ></v-img>
          </v-col>
          <v-col class='mt-1'>
            <span>ALTATECH imóveis</span>
          </v-col>
          <v-col cols='2'>
            <v-btn class='text-end' icon dark @click="whatsappDialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text style='min-height: 400px'>
        <div style="display: flex; flex-direction: column; color: black;" class='mt-2'>
          <div class="received-message">Olá, diga seu nome e telefone 👇</div>
          <div class="received-message">Em seguida você falará com o corretor 😉</div>
        </div>
      </v-card-text>
      <v-card-title style='background-color: #212121; position: absolute; bottom: 0'>
        <v-form
          ref='leadDialogForm'
          v-model='valid'
          @submit.prevent='enviarLead'
        >
          <v-row no-gutters class='mb-1'>
            <v-col class='mr-1' xs='12'>
              <input
                v-model='state.name'
                style='background-color: #E0E0E0'
                type='text'
                :class='inputNameClass'
                placeholder='Nome'
                @blur='validationName'
              >
              <span class='ml-1' style='color: red; font-size: 12px;'>{{ nameErrors[0] }}</span>
            </v-col>
            <v-col class='mr-1' xs='12'>
              <input
                v-model='state.celular'
                v-mask="['(##) #####-####']"
                style='background-color: #E0E0E0'
                type='tel'
                inputmode='tel'
                :class='inputCelularClass'
                placeholder='(XX) XXXXX-XXXX'
                @blur='validationCelular'
                @input='validationCelularChange'
              >
              <span class='ml-1' style='color: red; font-size: 12px;'>{{ celularErrors[0] }}</span>
            </v-col>
            <v-col class='mr-1' cols='auto'>
              <v-btn
                style='background-color: #128C7E; '
                fab
                small
                elevation='0'
                :disabled='!isFormFilled'
                @click='enviarLead'
              >
                <v-icon>mdi-send</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-title>
    </v-card>
  </v-dialog>
</template>

<script lang='ts'>
import { Component, PropSync, Ref, Vue } from 'nuxt-property-decorator'
import { reactive } from 'vue'
import { minLength, required } from '@vuelidate/validators'
import { useVuelidate } from '@vuelidate/core'
import VueTheMask from 'vue-the-mask'
import SearchService from '~/service/SearchService'
import { BusinessTypes } from '~/models/Property'
Vue.use(VueTheMask)

@Component
export default class LeadDialog extends Vue{
  @PropSync ('show', { type: Boolean, default: false })
  whatsappDialog!: boolean

  @PropSync ('page', { type: String, default: "filter" })
  origemPage!: string

  @PropSync('idImovel', { type: String, required: false, default: "" })
  id!: string

  @PropSync('idCrm', { type: String, default: "" })
  idReferenciaCRM!: string

  @PropSync('propertyType', { type: String, default: "" })
  tipo!: BusinessTypes

  @Ref('inputName') readonly input1!: HTMLInputElement
  @Ref('inputCelular') readonly input2!: HTMLInputElement


  valid = true
  phone = {
    ddd: '',
    celular: 0
  }

  state = reactive({
    name: '',
    celular: ''
  })

  validate = {
    name: false,
    celular: false,
    celularInvalid: false
  }

  validationForm = false

  nameErrors: string[] = []
  celularErrors: string[] = []

  inputNameClass = {
    input: true,
    inputError: false
  }

  inputCelularClass = {
    input: true,
    inputError: false
  }




  idConvertido : number = Number(this.id)

  async enviarLead(){

    this.phone = this.dddAndPhone(this.state.celular)

    const date = this.getDateInBrazil().toISOString().replace('T', ' ').substr(0,19)
    const leadValues = {
      idImovel: this.idConvertido,
      idAssinante: 1,
      idReferenciaCRM: this.idReferenciaCRM,
      dataCadastro: date,
      name: this.state.name,
      email: '',
      ddi: '+55',
      ddd: this.phone.ddd,
      phone: this.phone.celular,
      message: ''
    }
    const response = await SearchService.insertLead(leadValues, this.$axios)

    const nome: string = this.state.name;

    this.state.name = ''
    this.state.celular = ''
    this.whatsappDialog = false

    const linkImovel = this.linkParaImovel(this.tipo, this.idReferenciaCRM)
    const telefoneCorretor = response.whatsapp
    let message = 'Olá, Meu nome é *' + encodeURI(nome) + '* '

    if (this.origemPage !== "filter"){
      message = message + 'e preciso de ajuda para encontrar um imóvel. '
    }else {
      message = message + 'e tenho interesse no seguinte imóvel: ' + encodeURI(linkImovel)
    }

    window.open("https://wa.me/" + encodeURI(telefoneCorretor) + "?text=" + message, '_blank')
  }

  dddAndPhone(phone: string) {
    const ddd = phone.substring(1, 3)
    let celular: number
    if (this.state.celular.length === 15){
      celular = Number(this.state.celular.substring(4, 10) + this.state.celular.substring(11))
    } else {
      celular = Number(this.state.celular.substring(4, 9) + this.state.celular.substring(10))
    }

    return {ddd, celular}
  }

  linkParaImovel(tipo: BusinessTypes, idCRM: string){
    if (tipo === BusinessTypes.SALE){
      return 'https://' + window.location.host + '/comprar/' + idCRM
    } else if (tipo === BusinessTypes.RENT) {
      return 'https://' + window.location.host + '/alugar/' + idCRM
    } else {
      return 'https://' + window.location.host + '/comprar/' + idCRM
    }
  }

  getDateInBrazil(): Date {
    const options: Intl.DateTimeFormatOptions = {
      timeZone: 'America/Sao_Paulo'
    };

    const dateStr = new Date().toLocaleString('en-US', options);
    return new Date(dateStr);
  }

  get isFormFilled() {
    return this.state.name && this.state.celular && !this.validate.name &&
          !this.validate.celular && !this.validate.celularInvalid
  }

  get isFullScreen() {
    return this.$vuetify.breakpoint.smAndDown
  }

  mounted() {
    this.validation()
  }

  validation(){
    const rules = {
      name: { required , minLength: minLength(3)},
      celular: { required , minLength: minLength(15)}
    }
    const v$ = useVuelidate(rules, this.state)

    this.nameErrors = []
    this.celularErrors = []

    this.validate.name = v$.value.name.required.$invalid
    this.validate.celular = v$.value.celular.required.$invalid
    this.validationForm = v$.value.$invalid
  }

  validationName() {
    const rules = {
      name: { required, minLength: minLength(3) }
    }
    const v$ = useVuelidate(rules, this.state)

    this.nameErrors = []
    this.inputNameClass.inputError = false

    this.validate.name = v$.value.name.required.$invalid
    if (this.validate.name){
      this.nameErrors.length = 0
      this.nameErrors.push('Nome é obrigatório')
      this.inputNameClass.inputError = true
    }

    this.validationForm = v$.value.$invalid
  }

  validationCelular() {
    const rules = {
      celular: { required , minLength: minLength(15)}
    }
    const v$ = useVuelidate(rules, this.state)

    this.celularErrors = []
    this.inputCelularClass.inputError = false

    this.validate.celular = v$.value.celular.required.$invalid
    if (this.validate.celular){
      this.celularErrors.length = 0
      this.celularErrors.push('Celular é obrigatório')
      this.inputCelularClass.inputError = true
    }
    this.validate.celularInvalid = v$.value.celular.minLength.$invalid
    if (this.validate.celularInvalid){
      this.celularErrors.length = 0
      this.celularErrors.push('Celular inválido!')
      this.inputCelularClass.inputError = true
    }

    this.validationForm = v$.value.$invalid
  }

  validationCelularChange(){
    if (this.state.celular.length === 15) {
      this.validationCelular()
    }
  }
}
</script>
<style scoped>
.sent-message {
  background-color: #DCF8C6;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 20px;
  position: relative;
  max-width: 70%;
  align-self: flex-end;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.sent-message::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #DCF8C6;
}

.received-message {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 20px;
  position: relative;
  max-width: 70%;
  align-self: flex-start;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.received-message::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left:10px solid white;
}

.input {
  background-color: white;
  border: 1px solid #BDBDBD;
  border-radius: 7px;
  height: 40px;
  width: 100%;
  font-size: 15px;
  padding-left: 10px;
}

.input:focus {
  outline: none;
  border-color: #BDBDBD;
}

.inputError {
  border: 2px solid red;
}

</style>
