<template>
	<section class="mt-1">
		<v-row v-if="selectedProperty !== undefined" no-gutters class="mt-2 mr-auto">
<!--			Características da tabela imovel-->
			<v-col v-if='selectedProperty.quantityRoom >0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.quantityRoom }} Sala{{ selectedProperty.quantityRoom>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.quantityLivingRoom>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.quantityLivingRoom }} Sala{{ selectedProperty.quantityLivingRoom>1?'s':''}} de estar</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.pantry' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Copa</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.kitchen' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Cozinha</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.americanKitchen' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Cozinha Americana</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.dependentKitchen' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Cozinha Dependente</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.plannedKitchen' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Cozinha Planejada</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.quantityBedrooms>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.quantityBedrooms }} Dormitório{{ selectedProperty.quantityBedrooms>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.diningRoom>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.diningRoom }} Sala{{ selectedProperty.diningRoom>1?'s':''}} de jantar</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.office>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.office }} Escritório{{ selectedProperty.office>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.quantityBathroom>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.quantityBathroom }} Banheiro{{ selectedProperty.quantityBathroom>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.lavatory>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.lavatory }} Lavatório{{ selectedProperty.lavatory>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.suites>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.suites }} Suíte{{ selectedProperty.suites>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.closet>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.closet }} Closet{{ selectedProperty.closet>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.suiteCloset>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.suiteCloset }} Suite Closet{{ selectedProperty.suiteCloset>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.suiteMaster>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.suiteMaster }} Suite Master{{ selectedProperty.suiteMaster>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.dormitoryMaid>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.dormitoryMaid }} Dormitório{{ selectedProperty.dormitoryMaid>1?'s':''}} Faxineiro(a)</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.bathroomMaid>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.bathroomMaid }} Banheiro{{ selectedProperty.bathroomMaid>1?'s':''}} Faxineiro(a)</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.laundry>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.laundry }} Lavanderia{{ selectedProperty.laundry>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.vacanciesGarage>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.vacanciesGarage }} Vaga{{ selectedProperty.vacanciesGarage>1?'s':''}} Garagem</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.areaLeisure>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.areaLeisure }} Área{{ selectedProperty.areaLeisure>1?'s':''}} de Lazer</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.barbecueGrill>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.barbecueGrill }} Churrasqueira{{ selectedProperty.barbecueGrill>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.pool>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.pool }} Piscina{{ selectedProperty.pool>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.yard>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.yard }} Quintal{{ selectedProperty.yard>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.garden>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.garden }} Jardim{{ selectedProperty.garden>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.shed>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.shed }} Edicula{{ selectedProperty.shed>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.propertySituation>0' cols='6'>
				<v-chip color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ (selectedProperty.propertySituation).toUpperCase() }}</span>
				</v-chip>
			</v-col>

			<!--			Características da tabela caracteristicas-->

			<v-col v-if='selectedProperty.reformed' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Reformado</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.furnished' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Imobiliada</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.semiFurnished' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Semi Imobiliada</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.plannedFurniture' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Moveis Planejados</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.decorated' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Decorado</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.porch>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.porch }} Varanda{{ selectedProperty.porch>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.mezzanine>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.mezzanine }} Mezanino{{ selectedProperty.mezzanine>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.balcony>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.balcony }} Sacada{{ selectedProperty.balcony>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.balconyBackground>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.balconyBackground }} Sacada no fundo{{ selectedProperty.balconyBackground>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.sideBalcony>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.sideBalcony }} Sacada Lateral{{ selectedProperty.sideBalcony>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.airConditioner>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.airConditioner }} Ar Condicionado{{ selectedProperty.airConditioner>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.closetRoom' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Armário Sala</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.closetBathroom' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Armário Banheiro</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.wardrobeCloset' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Armário Closet</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.cabinetKitchen' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Armário Cozinha</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.wardrobeDormitory' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Armário Dormitório</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.porcelainTile' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Porcelanato</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.subfloor' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Contrapiso</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.granite' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Granito</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.laminate' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Laminado</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.marble' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Marmore</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.coldFloor' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Piso frio</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.floorCeramics' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Piso Cerâmica</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.peg' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Taco</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.hydroMassage>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.hydroMassage }} Hidromassagem{{ selectedProperty.hydroMassage>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.steamRoom>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.steamRoom }} Sauna{{ selectedProperty.steamRoom>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.privateSauna>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.privateSauna }} Sauna Privada{{ selectedProperty.privateSauna>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.hotTub>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.hotTub }} Ofuro{{ selectedProperty.hotTub>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.spa>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.spa }} Spa{{ selectedProperty.spa>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.fireplace>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.fireplace }} Lareira{{ selectedProperty.fireplace>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.wineHouse>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.wineHouse }} Adega{{ selectedProperty.wineHouse>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.pub>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.pub }} Bar{{ selectedProperty.pub>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.alarm' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Alarme</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.water' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Água</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.hotWater' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Água Quente</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.centralHeater' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Aquecedor Central</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.solarHeater' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Aquecedor Solar</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.carpetWood' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Carpete de Madeira</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.circuitTV' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Circuito TV</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.areaGourmet' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Área Gourmet</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.walled' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Murado</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.roomMovie>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.roomMovie }} Sala de Cinema{{ selectedProperty.roomMovie>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.oven>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.oven }} Forno{{ selectedProperty.oven>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.houseHomemade' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Casa Caseiro</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.highVoltageNetwork' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Rede de Alta Tensão</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.waterfall>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.waterfall }} Cachoeira{{ selectedProperty.waterfall>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.barn>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.barn }} Celeiro{{ selectedProperty.barn>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.fence' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Cerca</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.corral>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.corral }} Curral{{ selectedProperty.corral>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.lake>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.lake }} Lago{{ selectedProperty.lake>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.pasture' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Pasto</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.wellFish>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.wellFish }} Poço de Peixe{{ selectedProperty.wellFish>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.waterReservoir>0' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>{{ selectedProperty.waterReservoir }} Reservatório D'água{{ selectedProperty.waterReservoir>1?'s':''}}</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.river' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Rio</span>
				</v-chip>
			</v-col>

			<v-col v-if='selectedProperty.transformer' cols='6'>
				<v-chip	color="#F66000" text-color="white" class='mr-1 mb-1'>
					<v-icon class="mr-1">mdi-checkbox-marked-circle</v-icon>
					<span>Transformador</span>
				</v-chip>
			</v-col>
		</v-row>
	</section>
</template>

<script lang='ts'>
import { Component, PropSync, Vue } from 'nuxt-property-decorator'
import { Property } from '~/models/Property'

@Component
export default class PropertyDetail extends Vue {
	@PropSync('property', { type: Object, required: true })
	selectedProperty!: Property
}
</script>
