<template>
	<v-sheet class='overflow-auto overflow-x-hidden pt-1 px-3 pb-3'>
		<v-row no-gutters class='ml-2 mt-2'>
			<v-col class='mt-1' xl='auto'>
				<h3>
					<span class="black--text">{{ selectedProperty.type }}</span>
				</h3>
			</v-col>
			<v-col cols='auto' class="mt-1">
				<div class="d-flex justify-end bg-surface-variant" style='background-color: #BDBDBD'>
					<v-sheet>
						<v-chip style="height: 25px"><v-icon small class="mr-2">mdi-tag</v-icon>{{ selectedProperty.idCRM }}</v-chip>
					</v-sheet>
				</div>
			</v-col>
			<v-col cols='auto' class='mt-1 ml-2'>
				<v-chip
					style='cursor: pointer; height: 25px'
					class='chipColorTransition'
					:color='chipColor'
					@click='copyToClipboard'
				>
					<v-icon class='mr-2'>mdi-link-variant</v-icon>
					Link
				</v-chip>
			</v-col>
		</v-row>
		<v-row v-if="selectedProperty.values" no-gutters class="mt-2">
			<v-col v-if='selectedProperty.values' class='ml-2'>
				<span v-if='rentOrBoth(selectedProperty) && selectedProperty.values.rent <= 1' class="text-lg-h5 font-weight-bold" style='color: #FF6600'>A combinar</span>
				<span v-if='rentOrBoth(selectedProperty) && selectedProperty.values.rent > 1' class="text-lg-h6 font-weight-bold" style='color: #FF6600'>  R$ {{ formatPriceRoundUp(selectedProperty.values.rent) }}</span>
				<span v-if="selectedProperty.businessType === BusinessTypes.BOTH" class="text--disabled text-caption font-weight-medium pl-1" style='color: #FF6600'> ({{ BusinessTypes.RENT}})</span>
				<span v-if='saleOrBoth(selectedProperty) && selectedProperty.values.sellingValue <= 1' class="text-lg-h5 font-weight-bold" style='color: #FF6600'>A combinar</span>
				<span v-if='saleOrBoth(selectedProperty) && selectedProperty.values.sellingValue > 1' class="text-lg-h6 font-weight-bold" style='color: #FF6600'> R$ {{ formatPriceRoundUp(selectedProperty.values.sellingValue) }}</span>
				<span v-if="selectedProperty.businessType === BusinessTypes.BOTH" class="text--disabled text-caption font-weight-medium pl-1" style='color: #FF6600'> ({{ BusinessTypes.SALE}})</span>
			</v-col>
		</v-row>
		<v-row no-gutters class="mt-1">
			<v-col class='ml-2 font-weight-medium' style='color: #4F4F4F'>
				{{ locationText }}
			</v-col>
		</v-row>
		<v-row no-gutters class="mt-1 mb-1">
			<v-col class='ml-2'>
				<span v-if="selectedProperty.landArea" class="mr-5">
					<v-icon class="mr-1" small>mdi-image-size-select-small</v-icon>
					{{ selectedProperty.landArea }} {{ unitMeasure }}
				</span>
				<span v-if="selectedProperty.bedrooms" class="mr-5">
					<v-icon class="mr-1" small>mdi-bed</v-icon>
					{{ selectedProperty.bedrooms }} quarto{{ selectedProperty.bedrooms>1?'s':''}}
				</span>
				<span v-if="selectedProperty.vacanciesGarage" class="mr-5">
					<v-icon class="mr-1" small>mdi-car</v-icon>
					{{ selectedProperty.vacanciesGarage }} vaga{{ selectedProperty.vacanciesGarage>1?'s':'' }}
				</span>
			</v-col>
		</v-row>
		<v-row no-gutters class="mb-1">
			<v-col class='text-right text-sm-center mr-1'>
				<v-btn
					class='green mt-3'
					rounded
					@click='leadDialog = true'
				>
					<span class='white--text mr-2 text-capitalize'>Fale <span class='text-lowercase'>com o</span> corretor</span>
					<v-icon size='30px' class='mr-n3' color="white">mdi-whatsapp</v-icon>
				</v-btn>
			</v-col>
		</v-row>
		<v-row no-gutters>
			<v-col>
				<v-card class='mt-3' max-width='98%' style='margin: auto' flat>
					<v-row no-gutters>
						<v-col>
							<h3 class='ml-3 ma-2 mb-2 mt-3' style='font-size: 18px'>Descrição</h3>
						</v-col>
					</v-row>
					<v-divider style='background-color: #BDBDBD; max-width: 96%; margin: auto'/>
					<v-row no-gutters class='mt-2'>
						<v-col class='ml-3 mb-2'>
							<span style='white-space: pre-line; font-size: 15px' class="mt-2">{{ selectedProperty.description }}</span>
						</v-col>
					</v-row>
				</v-card>
			</v-col>
		</v-row>
		<v-divider class="mt-5" style='background-color: #BDBDBD; max-width: 96%; margin: auto'/>
		<v-row no-gutters>
			<v-col cols="12">
				<h3 class='ma-2 mb-1'>Características</h3>
			</v-col>
			<v-col cols="12" class='ml-2'>
				<PropertyDetail
					:property.sync='selectedProperty'
				></PropertyDetail>
			</v-col>
		</v-row>
		<LeadDialog
			:show.sync='leadDialog'
			:id-imovel='`${selectedProperty.id}`'
			:id-crm.sync='selectedProperty.idCRM'
			:property-type.sync='selectedProperty.businessType'
		/>
	</v-sheet>
</template>

<script lang='ts'>
import { Component, PropSync, Vue } from 'nuxt-property-decorator'
import { BusinessTypes, Property, PropertyZones } from '~/models/Property'
import LeadDialog from '~/components/leads/LeadDialog.vue'
import { copyTextToClipboard } from '~/utils/clipboard'
import { formatPriceRoundUp } from '~/utils/formatter'

@Component({
	computed: {
		BusinessTypes() {
			return BusinessTypes
		}
	},
	components: {
    LeadDialog,
		LeadForm: () => import('@/components/leads/LeadForm.vue'),
		PropertyDetail: () => import('@/components/property-info/PropertyDetail.vue')
	},
})

export default class PropertyChip extends Vue {
	@PropSync('property', { type: Object, required: true })
	selectedProperty!: Property

	@PropSync('showLeadForm', { type: Boolean, default: false })
	showLeadFormInternal!: boolean

	@PropSync('showLeadSendAlert', { type: Boolean, default: false })
	showLeadSendAlertInternal!: boolean

	@PropSync('leadAlertMessage', { type: String })
	leadAlertMessageInternal!: string

	@PropSync('leadAlertType', { type: String })
	leadAlertTypeInternal!: string

  	leadDialog = false

	chipColor = ''
	cardWidth = '96%'

	mounted(){
		console.log('selectedProperty: ', this.selectedProperty)
		const screenSize = this.$vuetify.breakpoint.name
		if (screenSize === 'xs') {
			this.cardWidth = '100%'
		}
	}

	copyToClipboard(){
		this.chipColor = 'success'

		let http = 'https://'
		if (window.location.host === 'localhost:8080') {
			http = 'http://'
		}

		const link = http + window.location.host + '/comprar/' + this.selectedProperty.idCRM
		copyTextToClipboard(link)

		setTimeout(() => (
			this.chipColor = ''
		), 1500)
	}

	formatPriceRoundUp(v:any) {
		return formatPriceRoundUp(v)
	}

	get locationText() {
		let text = ''
		if (this.selectedProperty.neighbourhood && this.selectedProperty.city) {
			text += `${this.selectedProperty.neighbourhood}, ${this.selectedProperty.city}, ${this.selectedProperty.state}`
		} else if (this.selectedProperty.city && this.selectedProperty.state) {
			text += `${this.selectedProperty.city}, ${this.selectedProperty.state}`
		} else if (this.selectedProperty.state) {
			text += `${this.selectedProperty.state}, ${this.selectedProperty.state}`
		} else if (this.selectedProperty.zone === PropertyZones.RURAL) {
			text += `${this.selectedProperty.city}, ${this.selectedProperty.state}`
		}
		return text
	}

	get unitMeasure() {
		switch (this.selectedProperty.unitMeasure) {
			case 'M2':
				return 'm²'
			case 'ALQUEIRES':
				return 'Alq'
			case 'HECTARES':
				return 'Ha'
			default:
				return 'm²'
		}
	}

	get BusinessTypes() {
		return BusinessTypes
	}

	rentOrBoth({ businessType: b}: Property) {
		return b === BusinessTypes.RENT || b === BusinessTypes.BOTH
	}

	saleOrBoth({ businessType: b}: Property) {
		return b === BusinessTypes.SALE || b === BusinessTypes.BOTH
	}
}
</script>
<style>
.chipColorTransition{
	transition-property: background-color;
	transition: background-color 0.8s;
}
</style>
