<template>
	<v-menu v-model="menu" bottom left :close-on-content-click="false">
		<template v-slot:activator="{ on, attrs }">
			<v-btn color="grey darken-3" class="ml-3" outlined v-bind="attrs" v-on="on">
				<span class="text-capitalize">Cômodos</span>
				<v-icon dense right>mdi-chevron-down</v-icon>
			</v-btn>
		</template>
		<v-card width="360">
			<v-card-title>Cômodos</v-card-title>
			<v-card-text>
				<p class="mb-0"><v-icon dens>mdi-bed</v-icon> Quartos</p>
						<v-col>
							<v-btn-toggle v-model="roomSeleted" borderless rounded background-color="blue lighten-5">
								<v-btn rounded relative	small retain-focus-on-click depressed class="transparent">Qualquer</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value1 }}</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value2 }}</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value3 }}</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value4 }}</v-btn>
							</v-btn-toggle>
						</v-col>
				<p class="mb-0"><v-icon dens>mdi-wardrobe</v-icon> Suítes</p>
					<v-col>
						<v-btn-toggle v-model="suiteSeleted" borderless rounded background-color="blue lighten-5">
								<v-btn rounded relative	small retain-focus-on-click depressed class="transparent">Qualquer</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value1 }}</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value2 }}</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value3 }}</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value4 }}</v-btn>
							</v-btn-toggle>
					</v-col>
				<p class="mb-0"><v-icon dens>mdi-shower</v-icon> Banheiros</p>
					<v-col>
						<v-btn-toggle v-model="toiletSelected" borderless rounded background-color="blue lighten-5">
								<v-btn rounded relative	small retain-focus-on-click depressed class="transparent">Qualquer</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value1 }}</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value2 }}</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value3 }}</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value4 }}</v-btn>
							</v-btn-toggle>
					</v-col>
				<p class="mb-0"><v-icon dens>mdi-car</v-icon> Vagas</p>
					<v-col>
						<v-btn-toggle v-model="carSelected" borderless rounded background-color="blue lighten-5">
								<v-btn rounded relative	small retain-focus-on-click depressed class="transparent">Qualquer</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value1 }}</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value2 }}</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value3 }}</v-btn>
								<v-btn rounded relative small retain-focus-on-click depressed class="transparent">{{ value4 }}</v-btn>
							</v-btn-toggle>
					</v-col>
					<v-checkbox v-model='checks' id='checkComodos' label="Usar a quantidade exata de cômodos" color="blue" @click='check()'></v-checkbox>
			</v-card-text>
			<v-card-actions>
				<v-spacer />
				<v-btn depressed color="metal" small text @click="dispose">Cancelar</v-btn>
				<v-btn color="primary" @click="clearComodos">Limpar</v-btn>
				<v-btn color="primary" @click="filter">Filtrar</v-btn>
			</v-card-actions>
		</v-card>
	</v-menu>
</template>

<script lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Emit, PropSync } from 'vue-property-decorator'

@Component({
	name: 'comodosMenu'
})

export default class ComodosMenu extends Vue{
	valueAny: string | undefined
	value1: string | undefined
	value2: string | undefined
	value3: string | undefined
	value4: string | undefined
	menu = false


	@PropSync('room', { type: Number, default: 0})
	roomSeleted!: number

	@PropSync('suite', { type: Number, default: 0})
	suiteSeleted!: number

	@PropSync('toilet', { type: Number, default: 0 })
	toiletSelected!: number

	@PropSync('car', { type: Number, default: 0 })
	carSelected!: number

	@PropSync('checkSelected', { type: Boolean, default: false})
	checks!: string

	mounted(){
		this.value1 = '1+'
		this.value2 = '2+'
		this.value3 = '3+'
		this.value4 = '4+'
	}

	check(){
		var checkbox = document.querySelector('#checkComodos')
		var checked = checkbox?.attributes.item(0)
		if (checked?.value == 'false'){
			this.value1 = '1'
			this.value2 = '2'
			this.value3 = '3'
			this.value4 = '4'
		} else {
			this.value1 = '1+'
			this.value2 = '2+'
			this.value3 = '3+'
			this.value4 = '4+'
		}
	}

	@Emit('filter')
	filter(){
		console.log('Comodos: ', this.roomSeleted)
		console.log('suite: ', this.suiteSeleted)
		console.log('toilet: ', this.toiletSelected)
		console.log('car: ', this.carSelected)
		if (this.checks){
			console.log('check: ', this.checks)
		}

		this.menu = false
		return {
			bedrooms: this.roomSeleted,
			suite: this.suiteSeleted,
			toilet: this.toiletSelected,
			car: this.carSelected,
			checkSelected: this.checks
		}
	}

	clearComodos(){
	}

	dispose(){
		this.menu = false
	}

	data() {
		return {
			checkComodos: false,
			value1: '1+',
			value2: '2+',
			value3: '3+',
			value4: '4+',

		}
	}
}
</script>