<template>
	<v-menu bottom left :close-on-content-click="false">
		<template #activator="{}">
			<v-bottom-sheet v-model="sheet" inset fullscrean scrollable width="95vh" class="mt-16" height="120vh">
				<template #activator="{ on, attrs }">
					<v-btn :color="colorFilterBtn" class="ml-4 mr-2" outlined v-bind="attrs" v-on="on">
						<span class="font-weight-bold">Filtros</span>
						<v-icon v-if='activeFilters.qtdActiveFilters === 0' dense right color="#FF6600">mdi-tune</v-icon>
           				<v-badge v-else color='#FF6600' content='1' inline></v-badge>
					</v-btn>
				</template>

				<v-sheet class="text-center" rounded outlined>
					<v-card>
						<v-col cols="12">
							<v-card-title>
								<v-row align="center">
									<v-col class="mt-n4 mb-1">
										<span class="ml-15">Filtros</span>
									</v-col>
									<v-col cols="auto">
										<v-btn color="transparent" class="mt-n6 mr-n5" depressed rounded @click="sheet = !sheet">
											<v-icon>mdi-window-close</v-icon>
										</v-btn>
									</v-col>
								</v-row>
							</v-card-title>

							<v-divider class="mt-n3 grey darken-2"></v-divider>

							<!-- scroll -->
							<section :class="scrollColor">
								<!-- Tipo de propriedade -->
								<v-row class="mt-2">
									<v-col class="text-center font-weight-bold text-h6" style='color: #FF6600'>Que tipo de imóvel busca?</v-col>
								</v-row>
								<v-card-text>
									<v-select
										v-model='selectedProperties'
										solo-inverted
										hide-details
										dense
										multiple
										:menu-props="{closeOnClick: true, closeOnContentClick: true}"
										chips
										deletable-chips
										:append-icon="dropdownFlag ? 'mdi-close' : 'mdi-menu-down'"
										outlined
										class='mt-1'
										:items="propertyTypes"
										label="Tipo de Imóvel"
										@focus="dropdownFlag = true"
										@blur="dropdownFlag = false"
									/>
								</v-card-text>
								<v-divider class="mt-3 mb-3 ml-3" width="95%"></v-divider>
								<!-- Localização -->
								<v-row>
									<v-col class="text-center font-weight-bold text-h6" style='color: #FF6600'>Onde?</v-col>
								</v-row>
								<v-card-text>
									<v-select
										v-model='selectedStates'
										solo-inverted
										dense
										outlined
										multiple
										:menu-props="{closeOnClick: true, closeOnContentClick: true}"
										chips
										deletable-chips
										class='mt-1'
										:items="statesAvailable"
										item-value="sigla"
										item-text="nome"
										label="Estado"
									/>
									<v-autocomplete
										v-model='selectedCities'
										solo-inverted
										dense
										outlined
										multiple
										chips
										deletable-chips
										:items="getCities"
										label="Cidade"
									/>
									<v-autocomplete
										v-model='selectedNeighborhoods'
										solo-inverted
										hide-details
										dense
										outlined
										multiple
										chips
										deletable-chips
										:items="getNeighborhoods"
										label="Bairro"
									/>
								</v-card-text>
								<v-divider class="mt-3 mb-3 ml-3" width="95%"></v-divider>
								<!-- Faixa de preço -->
								<v-row>
									<v-col class="text-center font-weight-bold text-h6" style='color: #FF6600'>Faixa de preço</v-col>
								</v-row>
								<v-card-text>
									<v-row class="mt-2" no-gutters>
										<v-col>
											<v-text-field
												v-model.lazy="minPrice"
												v-money="money"
												hide-details
												outlined
												label="preço mínimo"
												type="tel"
												style="border-radius: 5px 0px 0px 5px; box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);"
												prefix="R$ "
												color="#FF6600"
												background-color="rgba(0,0,0,0.04)"
											/>
										</v-col>
										<div class="font-weight-black mx-2 mt-4 mb-2">–</div>
										<v-col>
											<v-text-field
												v-model="maxPrice"
												v-money="money"
												hide-details
												outlined
												label="preço máximo"
												type="tel"
												style="border-radius: 0px 5px 5px 0px; box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);"
												prefix="R$ "
												color="#FF6600"
												background-color="rgba(0,0,0,0.04)"
											/>
										</v-col>
									</v-row>
								</v-card-text>
							</section>
							<v-divider class="mt-1 grey darken-2"></v-divider>
							<v-col>
								<v-card-actions>
									<v-spacer />
									<v-btn style="background-color: transparent; color: #ff6600" @click="cleanFilter">Limpar</v-btn>
									<v-btn style="background-color: #ff6600; color: white" @click="filter">Filtrar</v-btn>
								</v-card-actions>
							</v-col>
						</v-col>
					</v-card>
				</v-sheet>
			</v-bottom-sheet>
		</template>
	</v-menu>
</template>

<script lang="ts">
import { Component, Emit, PropSync, Vue } from 'nuxt-property-decorator'
import VueTheMask from 'vue-the-mask'
import { States, Cidade, estadoSiglaParaNome, requestStates, StatesResponse, priceProperties } from '@/utils/states'
import { BusinessTypes } from '~/models/Property'
import { ActiveFilters } from '~/models/search/SearchFilter'
Vue.use(VueTheMask)

interface RangeSliderOptions {
	max: number
	min: number
}
@Component
export default class FiltersMenu extends Vue {
	sheet = false

	screenSizeXl = false
	scrollColor = 'properties-grid-scroll-3 mr-auto'

	money = {
		decimal: ',',
		thousands: '.',
		precision: 0,
	}

	minPrice = "0"
	maxPrice = "0"

	@PropSync('business', { type: String })
	businessType!: BusinessTypes

	@PropSync('options', {
		type: Object,
		default: () => ({
			max: 100,
			min: 0,
		}),
	})
	optionsSlider!: RangeSliderOptions

	// Preço
	@PropSync('prices', { type: Array, required: true })
	priceRangeFilter!: number[]

	// Local
	@PropSync('states', { type: Array, default: () => []})
	selectedStates!: string[]

	@PropSync('cities', { type: Array, default: () => []})
	selectedCities!: string[]

	@PropSync('neighborhoods', { type: Array, default: () => [] })
	selectedNeighborhoods!: string[]

	// Tipo de imovel
	@PropSync('tipo', { type: Array, default: () => [] })
	selectedProperties!: string[]

	// Comodos
	@PropSync('room', { type: Number, default: 0 })
	roomSelected!: number

	@PropSync('suite', { type: Number, default: 0 })
	suiteSelected!: number

	@PropSync('toilet', { type: Number, default: 0 })
	toiletSelected!: number

	@PropSync('car', { type: Number, default: 0 })
	carSelected!: number

	@PropSync('clearFilter', { type: Boolean })
	clear!: boolean

	@PropSync('filtersActive', { type: Object, required: true})
	activeFilters!: ActiveFilters

	propertyTypes = ['Casa', 'Apartamento', 'Chácara', 'Fazenda', 'Comercial', 'Sítio', 'Terreno', 'Lote']

	dropdownFlag = false

	statesAvailable: States[] = []

	get getCities(): string[] {
		// Se this.stateSelected for undefined, null, ou um array vazio, retorne todas as cidades
		let cidades: string[]
		if (!this.selectedStates || this.selectedStates.length === 0) {
		cidades = this.statesAvailable.flatMap(estado => estado.cidades.map(cidade => cidade.cidade))
		} else {
		// Cria um conjunto com as siglas dos estados selecionados para pesquisa eficiente
		const estadosSelecionados = new Set(this.selectedStates)

		// Filtra os estados que correspondem às siglas selecionadas e extrai as cidades
		cidades = this.statesAvailable
			.filter(estado => estadosSelecionados.has(estado.sigla))
			.flatMap(estado => estado.cidades.map(cidade => cidade.cidade))
		}

		// Ordene as cidades em ordem alfabética
		cidades.sort((a, b) => a.localeCompare(b))

		return cidades
	}

	get getNeighborhoods(): string[] {
		const bairros: string[] = []

		// Verificar se estado ou cidade foi selecionado
		const isStateSelected = this.selectedStates && this.selectedStates.length > 0
		const isCitySelected = this.selectedCities && this.selectedCities.length > 0

		// Se nenhum estado ou cidade estiver selecionado, retorne todos os bairros
		if (!isStateSelected && !isCitySelected) {
			this.statesAvailable.filter(Boolean).forEach(estado => {
				estado.cidades.forEach(cidade => {
					if (cidade.bairros) {
						bairros.push(...cidade.bairros)
					}
				})
			})
		// Se uma cidade estiver selecionada, retorne apenas os bairros dessa cidade
		} else if (isCitySelected && this.selectedCities) {
			this.selectedCities.forEach(selectedCity => { // Filtrar valores indefinidos
				this.statesAvailable.forEach(state => {
					state.cidades.forEach(city => {
						// Verifique se a cidade corresponde e se bairros é um array
						if (selectedCity === city.cidade && Array.isArray(city.bairros)) {
							bairros.push(...city.bairros)
						}
					})
				})
			})
		// Se um estado estiver selecionado, retorne apenas os bairros desse estado
		} else if (isStateSelected && this.selectedStates) {
			const estadosSelecionados = new Set(this.selectedStates.filter(Boolean)) // Filtrar valores indefinidos
			this.statesAvailable
				.filter(estado => estadosSelecionados.has(estado.sigla))
				.forEach(estado => {
					estado.cidades.forEach(cidade => {
						if (Array.isArray(cidade.bairros)) {
							bairros.push(...cidade.bairros)
						}
					})
			})
		}
		// Ordene os bairros em ordem alfabética
		bairros.sort((a, b) => a.localeCompare(b))

		return bairros
	}

  	mounted() {
		if (this.$vuetify.breakpoint.name === 'xs') {
			this.screenSizeXl = true
			this.scrollColor = 'properties-grid-scroll-3 mr-auto scroll-mobile'
		}

		requestStates(BusinessTypes.BOTH, this.$axios).then((response: StatesResponse) => {
			this.statesAvailable.length = 0;
			for (const sigla in response) {
				const estadoCidades: Cidade[] = [];
				for (const cidadeNome in response[sigla]) {
					const cidade = response[sigla][cidadeNome];
					estadoCidades.push({
						cidade: cidade.cidade,
						bairros: cidade.bairros
					});
				}
				const estado = {
					sigla,
					nome: this.getNomeEstado(sigla),
					cidades: estadoCidades
				}
				this.statesAvailable.push(estado)
			}
		})

    if (this.priceRangeFilter[0] === 0 && this.priceRangeFilter[1] === 0) {
      this.fetchPriceRangeData()
    } else {
      this.minPrice = String(this.priceRangeFilter[0])
      this.maxPrice = String(this.priceRangeFilter[1])
    }
	}

	getNomeEstado(sigla: string): string {
		return estadoSiglaParaNome[sigla] || sigla // retorna a sigla se o nome completo não for encontrado
	}

	getPriceRangeFilter(min: string, max: string): [number, number] {
		const minStr = min.replaceAll(".", "").replaceAll(",", "")
		const maxStr = max.replaceAll(".", "").replaceAll(",", "")
		const minNum = Number(minStr)
		const maxNum = Number(maxStr)
		return [minNum, maxNum]
	}

	@Emit('filter')
	filter() {
		this.priceRangeFilter = this.getPriceRangeFilter(this.minPrice, this.maxPrice)
		this.$router.push({
			query: {
				propertyType: this.selectedProperties ? this.selectedProperties : "",
				state: this.selectedStates ? this.selectedStates : "",
				city: this.selectedCities ? this.selectedCities : "",
				neighborhood: this.selectedNeighborhoods ? this.selectedNeighborhoods : "",
				priceMin: String(this.priceRangeFilter[0]),
				priceMax: String(this.priceRangeFilter[1]),
			}
		}, () => {
			this.sheet = false
			return {
				propertyType: this.selectedProperties,
				state: this.selectedStates,
				city: this.selectedCities,
				neighborhood: this.selectedNeighborhoods,
				price: this.priceRangeFilter,
			}
		})
	}

	@Emit('clear')
	cleanFilter() {
		this.sheet = false
		return {}
	}

	async fetchPriceRangeData() {
		const prices = await priceProperties(this.$axios)

		if (this.businessType === BusinessTypes.SALE || this.businessType === BusinessTypes.BOTH) {
			this.optionsSlider.max = prices[1]
		}
		if (this.businessType === BusinessTypes.RENT || this.businessType === BusinessTypes.BOTH) {
			this.optionsSlider.max = prices[3]
		}
		this.minPrice = String(this.optionsSlider.min)
		this.maxPrice = String(this.optionsSlider.max)
		this.priceRangeFilter = [0, this.optionsSlider.max]
	}

  get colorFilterBtn(){
    if (this.activeFilters.qtdActiveFilters > 0 ) {
      return '#FF6600'
    } else {
     return 'gray'
    }
  }
}
</script>
<style>
.properties-grid-scroll-3 {
	height: calc(90vh - 200px);
	overflow: auto;
	overflow-x: hidden;
}

.custom-label-color .v-label {
	color: white;
	opacity: 1;
}

.green-prefix:hover {
	color: white;
	border-bottom: 2px solid #ff6600;
}

.fieldPreco {
	color: #ff6600;
	width: 150px;
	border: 1px solid #ff6600;
	border-bottom: 2px solid #ff6600;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.scroll-mobile::-webkit-scrollbar-thumb {
	background-color: transparent;
}
</style>
