<template>
	<v-carousel :height="height" hide-delimiter-background hide-delimiters>
		<v-carousel-item v-for="(image, i) in images" :key="i">
			<v-img
				style="cursor: pointer;"
				:alt="image.name"
				:src="image.url"
				:aspect-ratio="1"
				:height="height"
				@click="onImageClicked(i)"
			>

			<template #placeholder>
				<v-row
					class="fill-height ma-0 grey lighten-5"
					align="center"
					justify="center"
				>
					<v-progress-circular
					indeterminate
					color="grey lighten-1"
					></v-progress-circular>
				</v-row>
				</template>
			</v-img>
		</v-carousel-item>
	</v-carousel>
</template>

<script lang="ts">
import { Component, Vue, Emit, PropSync } from 'nuxt-property-decorator'
import { PropertyImage } from '~/models/Property'

@Component
export default class ImagesCarousel extends Vue {
	@PropSync('propertyImages', { type: Array, required: true })
	images!: PropertyImage[]

	@PropSync('imageHeight',{ type: String, required: false, default: '100vw' })
	height!: string

	@Emit('image-click')
	onImageClicked(i: number) {
		return i
	}
}
</script>

<style>
.v-window__next, .v-window__prev {
	background: rgb(0 0 0 / 0%);
}
</style>
