<template>
	<v-menu v-model="menu" bottom left :close-on-content-click="false">
		<template v-slot:activator="{ on, attrs }">
			<v-btn color="grey darken-3" class="ml-3" outlined v-bind="attrs" v-on="on">
				<span class="text-capitalize">Até R${{ priceRangeFilter[1] }}</span>
			</v-btn>
		</template>
		<v-card width="360">
			<v-card-title>Preço</v-card-title>
			<v-card-text>
				<span>Filtre por preço</span>
				<v-range-slider v-model="priceRangeFilter" :max="options.max" :min="options.min" :step="options.step" />
				<span>De R$ {{ priceRangeFilter[0] }} a R$ {{ priceRangeFilter[1] }}</span>
			</v-card-text>
			<v-card-actions>
				<v-spacer />
				<v-btn class="mr-3" small text @click="dispose">Cancelar</v-btn>
				<v-btn color="primary" @click="filter">Filtrar</v-btn>
			</v-card-actions>
		</v-card>
	</v-menu>
</template>

<script lang="ts">
import { Component, Vue, Emit, PropSync, Prop } from 'nuxt-property-decorator'

interface RangeSliderOptions {
	max: number
	min: number
	step: number
}

@Component
export default class PriceFilterMenu extends Vue {
	originalPriceRangeFilter!: number[]
	menu = false

	@PropSync('',{
		type: Object,
		default: () => ({
			max: 100,
			min: 0,
			step: 0,
		}),
	})
	options!: RangeSliderOptions

	@PropSync('prices', { type: Array, required: true })
	priceRangeFilter!: number[]

	mounted() {
		this.originalPriceRangeFilter = [...this.priceRangeFilter]

	}

	@Emit('filter')
	filter() {
		this.menu = false
		return
	}

	dispose() {
		this.priceRangeFilter = [...this.originalPriceRangeFilter]
		this.menu = false
	}
}
</script>
