<template>
	<div>
		<v-card tile elevation="0">
			<images-carousel
				v-if="p.images && p.images.length > 0"
				:image-height="$vuetify.breakpoint.xsOnly ? '100vw' : '300px'"
				:property-images="p.images"
				@image-click="onOpenLocation"
      		/>
			<v-row class="px-3 pt-2" no-gutters>
				<v-col style="cursor:pointer; font-weight: bold" class="text-uppercase" @click="onOpenLocation">
					<span class="pl-0" style='font-size: 14px'>{{ p.type }}</span>
				</v-col>
				<v-col cols='auto' class="pb-0 mb-0">
					<div class="d-flex justify-end">
						<v-sheet class="mr-0 mb-0">
							<v-chip class='' color='' style='height: 25px' outlined>
								<v-icon small class='pr-1' style='color: #4F4F4F'>mdi-tag</v-icon>
								<span style='color: #4F4F4F'>{{ p.idCRM }}</span>
							</v-chip>
						</v-sheet>
					</div>
				</v-col>
			</v-row>
			<v-row v-if="p.values" class='mt-1 px-3' no-gutters style='cursor: pointer' @click="onOpenLocation">
				<v-col v-if="p.businessType === BusinessTypes.SALE">
					<v-list-item-subtitle
						v-if="p.values.sellingValue > 1"
						class="text-lg-h6 float-left font-weight-bold"
						style='color: #FF6600'
					>
						R$ {{ formattingPrice(p.values.sellingValue) }}
					</v-list-item-subtitle>
					<v-list-item-subtitle v-if="p.values.sellingValue < 1" style='color: #FF6600'>
						<h2 style="color: #FF6600;">Valor Sob Consulta</h2>
					</v-list-item-subtitle>
				</v-col>
				<v-col v-else-if="p.businessType === BusinessTypes.RENT">
					<v-list-item-subtitle
						v-if="p.values.rent > 1"
						class="text-lg-h6 float-left font-weight-bold"
						style='color: #FF6600'
					>
						R$ {{ formattingPrice(p.values.rent) }}
					</v-list-item-subtitle>
					<v-list-item-subtitle v-if="p.values.rent < 1" style='color: #FF6600'>
						<h2 style="color: #FF6600;">Valor Sob Consulta</h2>
					</v-list-item-subtitle>
				</v-col>
				<v-col v-else-if="p.businessType === BusinessTypes.BOTH">
					<v-row v-if="$route.path === '/comprar'" no-gutters>
						<v-col>
							<v-list-item-subtitle>
								<span v-if="p.values.rent > 1" class="text-lg-h6 font-weight-bold" style='color: #FF6600'>
									R$ {{ formattingPrice(p.values.rent) }}
								</span>
								<span v-if="p.values.rent < 1">
									<h2 style="color: #FF6600;">Valor Sob Consulta</h2>
								</span>
								<span v-if="p.values.rent > 1" class="mr-5 text-caption text--disabled">
									(Aluguel)
								</span>
								<span v-if="p.values.sellingValue > 1" class="text-lg-h6 font-weight-bold" style='color: #FF6600'>
									R$ {{ formattingPrice(p.values.sellingValue) }}
								</span>
								<span v-else-if="p.values.sellingValue < 1">
									<h2 style="color: #FF6600;">Valor Sob Consulta</h2>
								</span>
								<span v-if="p.values.sellingValue > 1" class="text-caption text--disabled">
									(Venda)
								</span>
							</v-list-item-subtitle>
						</v-col>
					</v-row>
					<v-row v-if="$route.path === '/alugar'" no-gutters>
						<v-col>
							<v-list-item-subtitle>
								<span v-if="p.values.rent > 1" class="text-lg-h6 font-weight-bold" style='color: #FF6600'>
									R$ {{ formattingPrice(p.values.rent) }}
								</span>
								<span v-if="p.values.rent < 1">
									<h2 style="color: #FF6600;">Valor Sob Consulta</h2>
								</span>
								<span v-if="p.values.rent > 1" class="mr-5 text-caption text--disabled">
									(Aluguel)
								</span>
								<span v-if="p.values.sellingValue > 1" class="text-lg-h6 font-weight-bold" style='color: #FF6600'>
									R$ {{ formattingPrice(p.values.sellingValue) }}
								</span>
								<span v-else-if="p.values.sellingValue < 1">
									<h2 style="color: #FF6600;">Valor Sob Consulta</h2>
								</span>
								<span v-if="p.values.sellingValue > 1" class="text-caption text--disabled">
									(Venda)
								</span>
							</v-list-item-subtitle>
						</v-col>
					</v-row>
				</v-col>
			</v-row>

			<v-tooltip no-gutters top>
				<template #activator="{ on, attrs }">
					<v-row
						v-bind='attrs'
						class='px-3 mt-1'
						no-gutters
						style='cursor: pointer'
						v-on='on'
						@click="onOpenLocation"
					>
						<v-col>
							<div style='width: 80%'>
								<h5 class="d-block text-truncate font-weight-medium" style='color: #4F4F4F'>{{ locationText }}</h5>
							</div>
						</v-col>
					</v-row>
				</template>
				<span>{{ locationText }}</span>
			</v-tooltip>

			<v-card-text class="pt-0 pb-3 mt-1 px-3" style='cursor: pointer;' @click="onOpenLocation">
				<v-list-item v-if="p.landArea || p.bedrooms" style="min-height: 26px;" dense class=" pl-0">
					<v-list-item-subtitle>
						<span v-if="p.landArea" class="mr-5" style='color: #4F4F4F'>
							<v-icon class="mr-1" small style='color: #4F4F4F'>mdi-image-size-select-small</v-icon>
							<span>{{ p.landArea }} {{ unitMeasure }}</span>
						</span>
						<span v-if="p.bedrooms" style='color: #4F4F4F'>
							<v-icon class="mr-1" small style='color: #4F4F4F'>mdi-bed</v-icon>
							<span class="mr-5">{{ p.bedrooms }} Quarto{{ p.bedrooms > 1 ? 's' : '' }}</span>
						</span>
						<span v-if="p.vacanciesGarage" style='color: #4F4F4F'>
							<v-icon class="mr-1" small style='color: #4F4F4F'>mdi-car</v-icon>
							<span>{{ p.vacanciesGarage }} Vaga{{ p.vacanciesGarage > 1 ? 's' : '' }}</span>
						</span>
					</v-list-item-subtitle>
				</v-list-item>
			</v-card-text>
			<div dense class='px-2 mx-0'>
				<v-row>
					<v-col class="text-right text-sm-center mr-1" cols="12">
						<v-btn class='grey--text text--darken-1' small rounded outlined @click.prevent='whatsappDialog = true'>
							<span class='grey--text text--darken-1 mr-1 text-capitalize'>Fale <span class='text-lowercase'>com o</span> corretor</span>
							<v-icon size='26px' class='mr-n2 green--text'>mdi-whatsapp</v-icon>
						</v-btn>
					</v-col>
				</v-row>
			</div>
		</v-card>
		<LeadDialog
			v-if='whatsappDialog'
			:show.sync='whatsappDialog'
			:id-imovel='`${p.id}`'
			:id-crm='p.idCRM'
			:property-type.sync='p.businessType'
		/>
	</div>
</template>

<script lang="ts">
import { Component, Emit, PropSync, Vue } from 'nuxt-property-decorator'
import { BusinessTypes, Property, PropertyZones } from '~/models/Property'
import { getType } from '@/utils/property.utils'
import { formatingPrice as formattingPrice } from '~/utils/formatter'

@Component({
	components: {
		LeadDialog: () => import('../leads/LeadDialog.vue'),
		ImagesCarousel: () => import('./ImagesCarousel.vue'),
	},
})

export default class PropertyCard extends Vue {
	@PropSync('propertyParam', { required: true, type: Object })
	p!: Property

	sheet = false
	whatsappDialog = false
	properties: Property[] = []
	screenSizeXl = false
	cardMargin = ''
	cardIcon = 'mdi-home'

	mounted() {
		if (this.$vuetify.breakpoint.name === 'xs') {
			this.screenSizeXl = true
			this.cardMargin = 'ml-2 mr-2'
		}

		this.cardIcon = this.icon()
	}

	icon() {
		switch (this.p.type) {
			case 'Casa':
				return 'mdi-home'
			case 'Apartamento':
				return 'mdi-office-building-outline'
			case 'Chácara':
				return 'mdi-pool'
			case 'Fazenda':
				return 'mdi-fence'
			case 'Sala Comercial':
				return 'mdi-printer-pos'
			case 'Ponto Comercial':
				return 'mdi-printer-pos'
			case 'Sítio':
				return 'mdi-home-silo'
			case 'Terreno':
				return 'mdi-sprout'
			case 'Lote':
				return 'mdi-grass'
			default:
				return 'mdi-home'
		}
	}

	formattingPrice(v: any) {
		return formattingPrice(v)
	}

	get BusinessTypes() {
		return BusinessTypes
	}

	get unitMeasure() {
		switch (this.p.unitMeasure) {
			case 'M2':
				return 'm²'
			case 'ALQUEIRES':
				return 'Alq'
			case 'HECTARES':
				return 'Ha'
			default:
				return 'm²'
		}
	}

	get title() {
		if (!this.p.type) {
			console.log('sem property type:', this.p)
			return ''
		}
		let title = `${getType(this.p.type) || this.p.type}`
		if (this.p.neighborhood) {
			title += ` no ${this.p.neighborhood}`
		} else if (this.p.city) {
			title += ` em ${this.p.city}`
		}
		return title
	}

	get locationText() {
		let text = ''
		if (this.p.neighborhood && this.p.city) {
			text += `${this.p.neighborhood}, ${this.p.city}, ${this.p.state}`
		} else if (this.p.city && this.p.state) {
			text += `${this.p.city}, ${this.p.state}`
		} else if (this.p.state) {
			text += `${this.p.state}, ${this.p.state}`
		} else if (this.p.zone === PropertyZones.RURAL) {
			text += `${this.p.city}, ${this.p.state}`
		}
		return text
	}

	get totalRent() {
		let total = 0
		if (this.p.values) {
			for (const value of Object.values(this.p.values)) {
				total += Number(value)
			}
		}
		return total
	}

	@Emit('select')
	selectProperty() {
		return this.p.id
	}

	@Emit('open-location')
	onOpenLocation() {
		return this.p.id
	}
}
</script>

