<template>
	<v-row v-if="propertiesList.length > 0" no-gutters>
		<v-col
			v-for="p in propertiesList"
			:key="p.id"
			cols="12"
			:sm="isHalfScreen ? 12 : 6"
			:md="isHalfScreen ? 6 : 4"
			:lg="isHalfScreen ? 4 : 3"
			:xl="isHalfScreen ? 3 : 2"
			class="px-0 px-sm-2 px-md-3 pb-4"
		>
			<property-card class='mb-2' :property-param="p" @select="select" @open-location="onOpenLocation" />
		</v-col>
	</v-row>
</template>

<script lang="ts">
import { Component, Vue, Emit, PropSync } from 'nuxt-property-decorator'
import { Property } from '~/models/Property'

@Component({
	components: {
		PropertyCard: () => import('@/components/home/PropertyCardLight.vue'),
	},
})
export default class PropertiesGrid extends Vue {
	@PropSync('properties', { type: Array, required: true })
	propertiesList!: Property[]

	@PropSync('halfScreen', { type: Boolean, default: true })
	isHalfScreen!: boolean

	select(propertyId: string) {
		this.$router.push(`${this.$route.path}/${propertyId}`)
	}

	@Emit('open-property-sheet')
	onOpenLocation(propertyId: string) {
		return propertyId
	}
}
</script>
