<template>
  <div>
    <v-card :class='cardMargin' class='theme--dark mb-3' style='border-radius: 10px' @open-property-sheet="onOpenLocation">
      <v-row class="pl-3">
        <v-col style="cursor:pointer; font-weight: bold" class="text-uppercase" @click="onOpenLocation">
          <v-row>
            <v-col class='mr-n3' cols='auto'>
              <div class='mt-n1 mb-2 text-center' style='width: 35px; height: 35px; border-radius: 100%; background-color: #373737'>
                <v-icon class='white--text mt-1'>{{ cardIcon }}</v-icon>
              </div>
            </v-col>
            <v-col cols='auto'>
              <span style='color: #BDBDBD; font-size: 14px'>{{ property.type }}</span>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols='auto'>
          <div class="d-flex justify-end">
            <v-sheet class="mr-3 theme--dark mb-2">
              <v-chip class='theme--dark' color='#373737' style='height: 25px'><v-icon small class='pr-1' style='color: #BDBDBD'>mdi-tag</v-icon><span style='color: #BDBDBD'>{{ property.idCRM }}</span></v-chip>
            </v-sheet>
          </div>
        </v-col>
      </v-row>
      <images-carousel
        v-if="property.images && property.images.length > 0"
        :image-height="imageHeight"
        :property-images="property.images"
        @image-click="onOpenLocation"
      />
      <v-row class='ml-6 mt-3' no-gutters style='cursor: pointer' @click="onOpenLocation">
        <v-col v-if="property.businessType === BusinessTypes.SALE">
          <v-list-item-subtitle v-if="property.values && property.values.sellingValue>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ property.values.sellingValue | formatingPrice }} </v-list-item-subtitle>
          <v-list-item-subtitle v-if="property.values && property.values.sellingValue<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>
        </v-col>
        <v-col v-else-if="property.businessType === BusinessTypes.RENT">
          <v-list-item-subtitle v-if="property.values && property.values.rent>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ property.values.rent | formatingPrice }} </v-list-item-subtitle>
          <v-list-item-subtitle v-if="property.values && property.values.rent<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>
        </v-col>
        <v-col v-else-if="property.businessType === BusinessTypes.BOTH">
          <v-row v-if="$route.path === '/comprar'">
            <v-col xl="auto">
              <v-list-item-subtitle v-if="property.values && property.values.sellingValue>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ property.values.sellingValue | formatingPrice }} </v-list-item-subtitle>
              <v-list-item-subtitle v-if="property.values && property.values.sellingValue<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>
              <v-list-item-subtitle style='color: #FF6600' class="pl-1">(V)</v-list-item-subtitle>
            </v-col>
            <v-col>
              <v-list-item-subtitle v-if="property.values && property.values.rent>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ property.values.rent | formatingPrice }} </v-list-item-subtitle>
              <v-list-item-subtitle v-if="property.values && property.values.rent<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>
              <v-list-item-subtitle style='color: #FF6600' class="pl-1">(A)</v-list-item-subtitle>
            </v-col>
          </v-row>
          <v-row v-if="$route.path === '/alugar'">
            <v-col xl="auto">
              <v-list-item-subtitle v-if="property.values && property.values.rent>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ property.values.rent | formatingPrice }} </v-list-item-subtitle>
              <v-list-item-subtitle v-if="property.values && property.values.rent<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>
              <v-list-item-subtitle style='color: #FF6600' class="pl-1">(A)</v-list-item-subtitle>
            </v-col>
            <v-col>
              <v-list-item-subtitle v-if="property.values && property.values.sellingValue>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ property.values.sellingValue | formatingPrice }} </v-list-item-subtitle>
              <v-list-item-subtitle v-if="property.values && property.values.sellingValue<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>
              <v-list-item-subtitle style='color: #FF6600' class="pl-1">(V)</v-list-item-subtitle>
            </v-col>
          </v-row>
        </v-col>
        <!--			<v-col v-if='property.businessType === BusinessTypes.BOTH || property.businessType === BusinessTypes.RENT'>-->
        <!--				<v-list-item-subtitle v-if="property.values && property.values.rent>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ property.values.rent | formatingPrice }} </v-list-item-subtitle>-->
        <!--				<v-list-item-subtitle v-if="property.values && property.values.rent>1 && property.businessType === BusinessTypes.BOTH" class="text&#45;&#45;disabled text-sm-caption"> <span class='ml-1' style='color: #FF6600'>({{ BusinessTypes.RENT[0] | formatingPrice }})</span> </v-list-item-subtitle>-->
        <!--				<v-list-item-subtitle v-if="property.values && property.values.rent<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>-->
        <!--			</v-col>-->
        <!--			<v-col v-if='property.businessType === BusinessTypes.BOTH || property.businessType === BusinessTypes.SALE'>-->
        <!--				<v-list-item-subtitle v-if="property.values && property.values.sellingValue>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ property.values.sellingValue | formatingPrice }} </v-list-item-subtitle>-->
        <!--				<v-list-item-subtitle v-if="property.values && property.values.sellingValue>1 && property.businessType === BusinessTypes.BOTH" class="text&#45;&#45;disabled text-sm-caption"> <span class='ml-1' style='color: #FF6600'>({{ BusinessTypes.SALE[0] | formatingPrice }})</span> </v-list-item-subtitle>-->
        <!--				<v-list-item-subtitle v-if="property.values && property.values.sellingValue<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>-->
        <!--			</v-col>-->
      </v-row>

      <v-tooltip class='ml-6' no-gutters top>
        <template #activator="{ on, attrs }">
          <v-row v-bind='attrs' class='ml-6 mt-3' no-gutters style='cursor: pointer' v-on='on' @click="onOpenLocation">
            <v-col>
              <div  style='width: 80%'><h5 class="d-block text-truncate" style='color: #BDBDBD'>{{ locationText }}</h5></div>
            </v-col>
          </v-row>
        </template>
        <span>{{locationText}}</span>
      </v-tooltip>

      <v-card-text class="px-2 pt-0 pb-3 mt-1" style='cursor: pointer;' @click="onOpenLocation">
        <v-list-item v-if="property.landArea || property.bedrooms" dense>
          <v-list-item-subtitle>
					<span v-if="property.landArea" class="mr-5" style='color: #BDBDBD'>
						<v-icon class="mr-1" small style='color: #BDBDBD'>mdi-image-size-select-small</v-icon>
						<span>{{ property.landArea }} {{ unitMeasure }}</span>
					</span>
            <span v-if="property.bedrooms" style='color: #BDBDBD'>
						<v-icon class="mr-1" small style='color: #BDBDBD'>mdi-bed</v-icon>
						<span class="mr-5">{{ property.bedrooms }} Quarto{{ property.bedrooms>1?'s':''}}</span>
					</span>
            <span v-if="property.vacanciesGarage" style='color: #BDBDBD'>
						<v-icon class="mr-1" small style='color: #BDBDBD'>mdi-car</v-icon>
						<span>{{ property.vacanciesGarage }} Vaga{{ property.vacanciesGarage>1?'s':''}}</span>
					</span>
          </v-list-item-subtitle>
        </v-list-item>
      </v-card-text>
      <v-divider/>
      <v-card-text class="px-2 pt-0 pb-3 mt-1 pr-0">
        <v-list-item dense class='text-end'>
          <v-list-item-subtitle>
            <v-btn class='green mt-2' rounded @click='whatsappDialog = true'>
              <span class='white--text mr-2 text-capitalize'>Fale <span class='text-lowercase'>com o</span> corretor</span>
              <v-icon size='30px' class='mr-n3'>mdi-whatsapp</v-icon>
            </v-btn>
          </v-list-item-subtitle>
        </v-list-item>
      </v-card-text>
    </v-card>
    <LeadDialog
      v-if='whatsappDialog'
      :show.sync='whatsappDialog'
      :id-imovel='`${property.id}`'
      :id-crm='property.idCRM'
      :property-type.sync='property.businessType'
    />

  </div>
</template>

<script lang="ts">
import {Component, Emit, PropSync, Vue} from 'nuxt-property-decorator'
import {BusinessTypes, Property, PropertyZones} from '~/models/Property'
import {getType} from '@/utils/property.utils'

@Component({
	components: {
    LeadDialog: () => import('../leads/LeadDialog.vue'),
		ImagesCarousel: () => import('./ImagesCarousel.vue'),
	},
})

export default class PropertyCard extends Vue {
	@PropSync('propertyParam', { required: true, type: Object })
	property!: Property

  imageHeight = 200
	sheet = false
  whatsappDialog = false
	properties: Property[] = []
	screenSizeXl = false
	cardMargin = ''
	cardIcon = 'mdi-home'


	mounted(){
		if (this.$vuetify.breakpoint.name === 'xs'){
			this.screenSizeXl = true
			this.cardMargin = 'ml-2 mr-2'
      this.imageHeight = 380
		}

    this.cardIcon = this.icon()
	}

	icon(){
		switch (this.property.type) {
			case 'Casa':
				return 'mdi-home'
			case 'Apartamento':
				return 'mdi-office-building-outline'
			case 'Chácara':
				return 'mdi-pool'
			case 'Fazenda':
				return 'mdi-fence'
			case 'Sala Comercial':
				return 'mdi-printer-pos'
			case 'Ponto Comercial':
				return 'mdi-printer-pos'
			case 'Sítio':
				return 'mdi-home-silo'
			case 'Terreno':
				return 'mdi-sprout'
			case 'Lote':
				return 'mdi-grass'
			default:
				return 'mdi-home'
		}
	}

	get BusinessTypes() {
		return BusinessTypes
	}

	get unitMeasure() {
		switch (this.property.unitMeasure) {
			case 'M2':
				return 'm²'
			case 'ALQUEIRES':
				return 'Alq'
			case 'HECTARES':
				return 'Ha'
			default:
				return 'm²'
		}
	}

	get title() {
		if (!this.property.type) {
			console.log('sem property type:', this.property)
			return ''
		}
		let title = `${getType(this.property.type) || this.property.type}`
		if (this.property.neighborhood) {
			title += ` no ${this.property.neighborhood}`
		} else if (this.property.city) {
			title += ` em ${this.property.city}`
		}
		return title
	}

	get locationText() {
		let text = ''
		if (this.property.neighborhood && this.property.city) {
			text += `${this.property.neighborhood}, ${this.property.city}, ${this.property.state}`
		} else if (this.property.city && this.property.state) {
			text += `${this.property.city}, ${this.property.state}`
		} else if (this.property.state) {
			text += `${this.property.state}, ${this.property.state}`
		} else if (this.property.zone === PropertyZones.RURAL) {
			text += `${this.property.city}, ${this.property.state}`
		}
		return text
	}

	get totalRent() {
		let total = 0
		if (this.property.values) {
			for (const value of Object.values(this.property.values)) {
				total += Number(value)
			}
		}
		return total
	}

	@Emit('select')
	selectProperty() {
		return this.property.id
	}

	@Emit('open-location')
	onOpenLocation() {
		return this.property.id
	}
}
</script>

