<template>
	<v-toolbar outlined light flat>
		<v-row align='center'>
			<filters-menu
				:business.sync="searchFilters.businessType"
				:options="priceRangeOptions"
				:prices.sync="searchFilters.priceRange"
				:states.sync="searchFilters.states"
				:cities.sync="searchFilters.cities"
				:neighborhoods.sync='searchFilters.neighborhoods'
				:tipo.sync="searchFilters.propertyTypes"
				:room.sync="searchFilters.bedrooms"
				:suite.sync="searchFilters.suite"
				:toilet.sync="searchFilters.toilet"
				:car.sync="searchFilters.car"
				:clear-filter.sync='clearFilters'
        		:filters-active.sync='filtersActive'
				@filter="filter"
        		@clear='clear'
			/>
			<v-btn
				outlined
				color="grey"
				:icon="$vuetify.breakpoint.smAndDown"
				class="text-lowercase ml-3 mr-1 hidden-sm-and-down"
				@click="toggleMap = !toggleMap"
			>
				<span class="grey--text font-weight-bold">{{ toggleMap ? 'Ocultar mapa' : 'Ver mapa' }}</span>
			</v-btn>
			<v-btn
				outlined
				color="grey"
				icon
				class="text-lowercase ml-0 ml-md-3 mr-1 hidden-xs-only hidden-md-and-up"
				@click="toggleMap = !toggleMap"
			>
				<span class="grey--text hidden-md-and-up">
					<v-icon>{{ toggleMap ? 'mdi-map-minus' : 'mdi-map' }}</v-icon>
				</span>
			</v-btn>
		</v-row>
	</v-toolbar>
</template>
<script lang="ts">
import { Component, Emit, PropSync, Vue } from 'nuxt-property-decorator'
import { NuxtAxiosInstance } from '@nuxtjs/axios'
import Service from '@/service/SearchService'
import { ActiveFilters, SearchFilter } from '@/models/search/SearchFilter'
import { requestCities, StatesResponse } from '@/utils/states'
import FiltersMenu from '@/components/home/FiltersMenu.vue'

@Component({
	components: {
		FiltersMenu,
		PriceFilterMenu: () => import('@/components/home/PriceFilterMenu.vue'),
		PropertiesGrid: () => import('@/components/home/PropertiesGrid.vue'),
		ComodosMenu: () => import('@/components/home/ComodosMenu.vue')
	},
})
export default class PropertiesFilterToolbar extends Vue {
	@PropSync('filters', { type: Object, required: true })
	searchFilters!: SearchFilter

	@PropSync('activeFilters', { type: Object, required: true })
	filtersActive!: ActiveFilters

	@PropSync('toolbarTitle',{ type: String, default: 'Filtre os imóveis' })
	title!: string

	@PropSync('showMap', { type: Boolean, default: true })
	toggleMap!: boolean

	searchItens: {type: string, value: string}[] = []
	searchItems: any[] = []
	selectedSearchItem?: any = ''
	typedSearchItem?: any
	clearFilters: boolean = false
	qtdFilter!: number
	screenSizeXl = false
	toolbarHeight = ''

	priceRangeOptions = {
		max: 0,
		min: 0,
		step: 0
	}

	@Emit('filter')
	filter() {
		this.searchFilters.page = 1
		return this.searchFilters
	}

  @Emit('clear')
  clear() {
    return ''
  }

	async mounted(){
		await this.searchListItems()
		await this.getSearchOptions(this.$axios)

		if (this.$vuetify.breakpoint.name === 'xs'){
			this.screenSizeXl = true
		}
	}

	onAutocompleteSelected() {
		const itemEncontrado = this.searchItems.find((item) => {
			return item.text === this.selectedSearchItem
		})

		if (itemEncontrado) {
      if (itemEncontrado.tipoImovel === ''){
        itemEncontrado.tipoImovel = undefined
      }


      this.searchFilters.cities = itemEncontrado.cidade
			this.searchFilters.states = itemEncontrado.uf
			this.searchFilters.neighborhoods = itemEncontrado.bairro
			this.searchFilters.propertyTypes = itemEncontrado.tipoImovel
			this.searchFilters.referencia = itemEncontrado.idReferenciaCRM
		}

		this.filter()
	}

	onEnterSelected(e: Event){
		const target = e.target as HTMLInputElement
		const itemEncontrado = this.searchItems.find((item) => {
			return item.text.toLowerCase() === target.value.toLowerCase()
		})

		if (itemEncontrado) {
      if (itemEncontrado.tipoImovel === '') {
        itemEncontrado.tipoImovel = undefined
      }
			this.searchFilters.cities = itemEncontrado.cidade
			this.searchFilters.states = itemEncontrado.uf
			this.searchFilters.neighborhoods = itemEncontrado.bairro
			this.searchFilters.propertyTypes = itemEncontrado.tipoImovel
			this.searchFilters.referencia = itemEncontrado.idReferenciaCRM
		} else {
      this.searchFilters.referencia = target.value.toLowerCase()
      this.searchFilters.propertyTypes = undefined
    }

		this.filter()
	}

	onClearSelected(){
		this.searchFilters.cities = []
		this.searchFilters.states = []
		this.searchFilters.neighborhoods = []
		this.searchFilters.propertyTypes = undefined
		this.searchFilters.referencia = ''

		this.filter()
	}

	searchListItems(){
		const cities = requestCities(this.$axios).then((result: StatesResponse) => {
			this.searchItens.length = 0
			for (const sigla in result){
				const item = {
					type: 'uf',
					value: sigla,
				}
				this.searchItens.push(item)
			}
		})

		return cities
	}

	async getSearchOptions($axios: NuxtAxiosInstance){
		const searchOptions = await Service.getSearchOptions($axios)
		const itens = searchOptions.opcoes.map((item) => {
			let texto = ''
			if (item.endereco !== '') {
				texto += `${item.endereco}, ${item.bairro}, ${item.cidade}, ${item.uf}`
			} else if (item.bairro[0] !== ''){
				texto += `${item.bairro}, ${item.cidade}, ${item.uf}`
			} else if (item.cidade !== ''){
				texto += `${item.cidade}, ${item.uf}`
			} else if (item.uf !== ''){
				texto += `${item.uf}`
			} else if (item.tipoImovel !== ''){
				texto += `${item.tipoImovel}`
			} else if (item.idReferenciaCRM !== ''){
				texto += `${item.idReferenciaCRM}`
			}

			return {
				...item, text: texto
			}
		})

		this.searchItems = itens
	}
}

</script>
