<template>
	<v-sheet class="">
		<v-row>
			<v-col cols="12" sm="7" class="px-6 px-sm-4">
				<v-row>
					<v-col cols="12" class="mt-4">
					<v-skeleton-loader class="mx-auto" height="60" type="image"></v-skeleton-loader>
				</v-col>
				<v-col cols="12" sm="6" lg="4" class="mb-3">
					<v-skeleton-loader class="mx-auto" type="card,card,card"></v-skeleton-loader>
				</v-col>
				<v-col cols="6" lg="4" class="hidden-xs-only mb-3">
					<v-skeleton-loader class="mx-auto" type="card,card,card"></v-skeleton-loader>
				</v-col>
				<v-col cols="4" class="hidden-sm-and-down mb-3">
					<v-skeleton-loader class="mx-auto" type="card,card,card"></v-skeleton-loader>
				</v-col>
				</v-row>
			</v-col>
			<v-col cols="5" class="hidden-xs-only">
				<v-skeleton-loader class="mx-0" max-width="50vw" type="image,image,image"></v-skeleton-loader>
				<v-skeleton-loader class="mx-0" max-width="50vw" type="image"></v-skeleton-loader>
			</v-col>
		</v-row>
	</v-sheet>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class PropertiesGridLoading extends Vue {
	
}
</script>
