<template>
  <v-select
		v-bind="$attrs"
		background-color="rgb(23, 24, 25)"
		:value="valor"
		dense
		solo
		flat
		v-on="$listeners"
		@input="$emit('input', $event)"
	>
		<template #append-outer>
			<slot name="append-outer"></slot>
		</template>
	</v-select>
</template>

<script lang="ts">
import { Component, Vue, Prop, PropSync } from 'nuxt-property-decorator'

@Component({
	name: 'BaseSelect'
})
export default class BaseSelect extends Vue {
	@PropSync('value', { type: String, default: '' })
  valor!: string
}
</script>
