<template>
    <v-dialog v-model="showDialog" fullscreen style="z-index: 100000000;" @keydown.right="navigate('right', 1)" @keydown.left="navigate('left', -1)">
		<v-row no-gutters class='text-end'>
			<v-col>
				<v-btn
					icon
					dark
					absolute
					style='z-index: +5; right: 30px'
					@click="showDialog = false"
				>
					<v-icon size='30px'>mdi-close</v-icon>
				</v-btn>
			</v-col>
		</v-row>
        <v-carousel v-model="imgIndex" :hide-delimiters='screenSize' style='background-color: rgba(0,0,0,1)' :height="carouselSize">
          <v-carousel-item v-for="(item, i) in selectedProperty.images" :key="i">
            <div class="carousel-img-container">
              <v-img :src="item.url" contain max-height="100%"></v-img>
            </div>
          </v-carousel-item>
        </v-carousel>
    </v-dialog>
</template>

<script lang="ts">
import { Component, PropSync, Vue } from 'nuxt-property-decorator'
import { Property } from '~/models/Property'

@Component({
	components: {
		PropertyChip: () => import('@/components/property-info/PropertyChip.vue'),
	}
})
export default class PropertyImagesDialog extends Vue {
	@PropSync('property', { type: Object, required: true })
	selectedProperty!: Property

	@PropSync('show', { required: true, type: Boolean, default: false })
	showDialog!: boolean

    @PropSync('index', { type: Number, required: false, default: 0 })
    imgIndex!: number

	screenSize = false
  	carouselSize = '100vh'

    navigate(_: string, index: number) {
        this.imgIndex += index
    }

	mounted(){
		if (this.$vuetify.breakpoint.name > 'md'){
			this.screenSize = true
		}
	}

}
</script>
<style>
.carousel-img-container {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.v-carousel__controls__item {
	margin: 0 3px;
}

.v-carousel__controls__item.v-btn.v-btn--icon {
    background-color: #ebece9; /* Background color of non-active ones */
    width: 6px;
	height: 6px;
}
  
.v-carousel__controls__item.v-btn.v-btn--icon.v-btn--active {
    background-color: #1f1f1f; /* Colour for active one */
}

.v-carousel__controls__item.v-btn.v-btn--icon:hover {
    background-color: black; /* You might also want to customise the hover effect */
}

.v-btn__content .v-icon {
    display: none; /* Removes the default icon */
}
</style>
