<template>
	<v-bottom-sheet v-model="sheet" inset>
		<v-sheet height="120vh" max-height style='border: 1px solid #BDBDBD; border-radius: 10px;'>
			<v-row>
				<v-col id='coluna-imagens' cols='6' xs='12' sm='12' md='7'>
					<section class="properties-grid-scroll mt-3">
						<v-row v-if="selectedProperty.images" no-gutters>
							<v-col v-if="selectedProperty.images.length > 0" class="px-2" cols="12" md="12">
								<v-row no-gutters>
									<v-col
										v-for='image in highlightPropertyImages'
										:key='image.url'
										class='d-flex child-flex'
										cols='12'
									>
										<v-img
											style='cursor: pointer; border-radius: 10px'
											:src="image.url"
											lazy-src="/assets/blank.png"
											aspect-ratio="2"
											class="grey lighten-2 ma-1"
											@click="openImages(image.url)"
										>
											<template #placeholder>
												<v-row
													class="fill-height ma-0"
													align="center"
													justify="center"
												>
													<v-progress-circular
														indeterminate
														color="grey lighten-5"
													></v-progress-circular>
												</v-row>
											</template>
										</v-img>
									</v-col>
								</v-row>
								<v-row no-gutters class='mt-0'>
									<v-col
										v-for="image in propertyImages"
										:key="image.url"
										class="d-flex child-flex"
										cols="4"
									>
										<v-img
											style='cursor: pointer; border-radius: 10px'
											:src="image.url"
											lazy-src="/assets/blank.png"
											aspect-ratio="1"
											class="grey lighten-2 ma-1"
											@click="openImages(image.url)"
										>
											<template #placeholder>
												<v-row
													class="fill-height ma-0"
													align="center"
													justify="center"
												>
													<v-progress-circular
														indeterminate
														color="grey lighten-5"
													></v-progress-circular>
												</v-row>
											</template>
										</v-img>
									</v-col>
								</v-row>
							</v-col>
						</v-row>
					</section>
				</v-col>

				<v-col id='coluna-info' dense>
					<section class="properties-grid-scroll overflow-x-hidden overflow-auto mt-3">
					<v-row>
						<v-col cols="6" md="12">
							<PropertyChip
								:property.sync='selectedProperty'
								:show-lead-form.sync='showLeadForm'
								:show-lead-send-alert.sync='showLeadSendAlert'
								:lead-alert-message.sync='leadAlertMessage'
								:lead-alert-type.sync='leadAlertType'
							></PropertyChip>
						</v-col>
					</v-row>
					</section>
				</v-col>
			</v-row>
		</v-sheet>
	</v-bottom-sheet>
</template>

<script lang="ts">
import { Component, Emit, PropSync, Vue } from 'nuxt-property-decorator'
import { BusinessTypes, Property } from '~/models/Property'

@Component({
	components: {
		PropertyChip: () => import('@/components/property-info/PropertyChip.vue'),
	}
})
export default class PropertyBottomSheet extends Vue {
	@PropSync('property', { type: Object, required: true })
	selectedProperty!: Property

	@PropSync('open', { required: true, type: Boolean, default: false })
	sheet!: boolean

	showLeadForm = false
	showLeadSendAlert = false
	leadAlertMessage = ''
	leadAlertType = 'error'

	@Emit('image-click')
	openImages(url: string) {
		return this.selectedProperty.images?.findIndex((image) => {
			return image.url === url
		})
	}

	mounted() {
		console.log(this.propertyImages, this.highlightPropertyImages)
	}

	get propertyImages() {
		return this.selectedProperty.images?.filter((image) => {
			return !image.highlight
		})
	}

	get highlightPropertyImages() {
		return this.selectedProperty.images?.filter((image) => {
			return image.highlight
		})
	}

	get displayValueComponent() {
		if (!this.selectedProperty) {
			return ''
		}
		switch (this.selectedProperty.businessType) {
			case BusinessTypes.RENT:
				return 'display-rent-values'
			case BusinessTypes.SALE:
				return 'display-sale-values'
			default:
				return ''
		}
	}
}
</script>
