<template>
  <v-dialog
    v-model="sheet"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
    class='overflow-y-hidden'
    scrollable
  >
    <v-sheet v-if="property" fluid class='overflow-x-hidden'>
      <!-- Carousel -->
      <v-toolbar dense>
		<v-icon x-large @click="sheet = false">mdi-chevron-left</v-icon>
      </v-toolbar>
      <v-row no-gutters>
        <v-col>
          <ImagesCarousel
            v-if="property.images && property.images.length > 0"
            :property-images="property.images"
            @image-click='openImages'
          />
        </v-col>
      </v-row>
      <!-- informações -->
      <v-row id='coluna-info' no-gutters>
        <v-container
          id="scroll-target"
          :class="`${scrollColor} pa-0`"
          fluid
        >
			<v-card>
				<PropertyChip
					:property.sync='property'
					:show-lead-form.sync='showLeadForm'
					:show-lead-send-alert.sync='showLeadSendAlert'
					:lead-alert-message.sync='leadAlertMessage'
					:lead-alert-type.sync='leadAlertType'
				/>
			</v-card>
        </v-container>
      </v-row>
    </v-sheet>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Emit, PropSync, Vue } from 'nuxt-property-decorator'
import { BusinessTypes, Property } from '~/models/Property'
import ImagesCarousel from '~/components/home/ImagesCarousel.vue'

@Component({
  components: {
    ImagesCarousel,
    PropertyChip: () => import('@/components/property-info/PropertyChip.vue'),
  }
})
export default class PropertyDialog extends Vue {
  @PropSync('propertySelected', { type: Object, required: true })
  property!: Property

  @PropSync('open', { required: true, type: Boolean, default: false })
  sheet!: boolean

  showLeadForm = false
  showLeadSendAlert = false
  leadAlertMessage = ''
  leadAlertType = 'error'
  screenMdAndDown = false
  scrollColor = 'overflow-y-auto'

  @Emit('image-click')
  openImages(url: string) {
    return this.property.images?.findIndex((image) => {
      return image.url === url
    })
  }

  mounted() {
    console.log(this.propertyImages, this.highlightPropertyImages)
    const screenSizeName = this.$vuetify.breakpoint.name
    this.screenMdAndDown = false
    this.screenMdAndDown = screenSizeName === 'xs' || screenSizeName === 'sm' || screenSizeName === 'md'
    if (this.screenMdAndDown) {
      this.scrollColor = 'overflow-y-auto scroll-mobile'
    }
  }

  get propertyImages() {
    return this.property.images?.filter((image) => {
      return !image.highlight
    })
  }

  get highlightPropertyImages() {
    return this.property.images?.filter((image) => {
      return image.highlight
    })
  }

  get displayValueComponent() {
    if (!this.property) {
      return ''
    }
    switch (this.property.businessType) {
      case BusinessTypes.RENT:
        return 'display-rent-values'
      case BusinessTypes.SALE:
        return 'display-sale-values'
      default:
        return ''
    }
  }
}
</script>
<style>
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scroll-mobile::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
