<template>
  <div style='width: 100%' class='mx-2'>
    <div style='width: 100%' class='text-center'>
      <span style='color: #FF6600'><h3>Buscar pelo código:</h3></span>
    </div>
    <v-autocomplete
      v-model='idReferenciaCrm'
      solo-inverted
      dense
      dark
      class='mt-1'
      :items="codeList"
      label="Código"
      outlined
    ></v-autocomplete>
    <v-row v-if='alertFilterSelect' no-gutters class='d-flex justify-center text-center mt-n3'>
      <v-col>
        <span style='color: red'>É preciso selecionar um código corretamente!</span>
      </v-col>
    </v-row>
    <v-row no-gutters class="d-flex justify-center">
      <v-col cols='8' class='text-end'>
        <v-btn text class="mt-2 button-size white--text" @click="searchByLocation"><span style='text-transform: lowercase'><span style='text-transform: capitalize'>Buscar</span> por localização</span></v-btn>
      </v-col>
      <v-col cols='4' class='text-end'>
        <v-btn rounded color="#FF6600" class="mt-2 button-size" @click="validation"><span class='button-name'>Buscar</span></v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script lang='ts'>
import { Component, Emit, PropSync, Vue } from 'nuxt-property-decorator'
import { NuxtAxiosInstance } from '@nuxtjs/axios'
import SearchService from '~/service/SearchService'

@Component
export default class CodeForm extends Vue{
  @PropSync('idcrm', { type: String, default: ''})
  idReferenciaCrm!: string

  @Emit('search-by-location')
  searchByLocation() {
    return {}
  }

  @Emit('search-code')
  searchCode() {
    return {}
  }

  codeList?: any[] = []
  alertFilterSelect: boolean = false

  async mounted() {
    await this.getCodeList(this.$axios)
  }

  async getCodeList($axios: NuxtAxiosInstance) {
    const searchOptions = await SearchService.getSearchOptions($axios)
    let itens = searchOptions.opcoes
      .filter(item => item.idReferenciaCRM)
      .map((item) => {
        let texto = ''
        if (item.idReferenciaCRM !== ''){
          texto += `${item.idReferenciaCRM}`
        }

        return {
          ...item, text: texto
        }
      })

    itens = itens.sort((a, b) => a.text.localeCompare(b.text))

    this.codeList = itens
  }

  validation() {
    if (this.idReferenciaCrm) {
      this.searchCode()
    } else {
      this.alertFilterSelect = true
    }
  }
}
</script>

<style scoped>
.v-input__slot::before {
  color: white !important;
}

.button-size {
  width: 90%;
}
.button-name {
  font-size: 17px;
  text-transform: capitalize;
  color: white;
}
@media (max-width: 960px) {
  .button-size {
    width: auto;
  }
  .button-name {
    font-size: 16px;
    color: white;
  }
}
</style>
