<template>
  <div style='width: 100%' class='mx-2'>
    <div style='width: 100%' class='text-center'>
      <span style='color: #FF6600'><h3>Que tipo de imóvel busca?</h3></span>
    </div>
    <v-autocomplete
      v-model='propTypesSelected'
      solo-inverted
      dense
      multiple
      chips
      outlined
      dark
      deletable-chips
      class='mt-1'
      :items="availablePropertyTypes"
      label="Tipo de Imóvel"
      @change='alertFilterSelect = false'
    ></v-autocomplete>
    <div style='width: 100%' class='text-center'>
      <span style='color: #FF6600'><h3>Onde?</h3></span>
    </div>
    <v-autocomplete
      v-model='statesSelected'
      solo-inverted
      dense
      outlined
      multiple
      chips
      dark
      deletable-chips
      class='mt-1'
      :items="location"
      item-value="sigla"
      item-text="nome"
      label="Estado"
      @change='alertFilterSelect = false'
    ></v-autocomplete>
    <v-autocomplete
      v-model='citiesSelected'
      solo-inverted
      dense
      outlined
      multiple
      chips
      dark
      deletable-chips
      :items="getCities"
      label="Cidade"
      @change='alertFilterSelect = false'
    ></v-autocomplete>
    <v-autocomplete
      v-model='neighborhoodSelected'
      solo-inverted
      dense
      outlined
      multiple
      chips
      dark
      deletable-chips
      :items="getNeighborhoods"
      label="Bairro"
      @change='alertFilterSelect = false'
    ></v-autocomplete>
    <v-row v-if='alertFilterSelect' no-gutters class='d-flex justify-center text-center mt-n3'>
      <v-col>
        <span style='color: red'>É preciso selecionar pelo menos 1 filtro!</span>
      </v-col>
    </v-row>
    <v-row no-gutters class="d-flex justify-center">
      <v-col cols='8' class='text-end'>
        <v-btn text class="mt-2 button-size white--text" @click="searchByCode"><span style='text-transform: lowercase'><span style='text-transform: capitalize'>Buscar</span> por código</span></v-btn>
      </v-col>
      <v-col cols='4' class='text-end'>
        <v-btn
          rounded
          color="#FF6600"
          class="mt-2 button-size"
          @click="validation"
        >
          <span class='button-name'>Buscar</span>
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script lang='ts'>
import { Component, Emit, PropSync, Vue } from 'nuxt-property-decorator'
import {
  Cidade,
  estadoSiglaParaNome,
  requestPropertyTypes,
  requestStates,
  States,
  StatesResponse
} from '~/utils/states'
import { BusinessTypes } from '~/models/Property'

@Component
export default class FilterForm extends Vue{
  @PropSync('propertyTypes', { type: Array, default: () => []})
  propTypesSelected!: string[]

  @PropSync('states', { type: Array, default: () => []})
  statesSelected!: string[]

  @PropSync('cities', { type: Array, default: () => []})
  citiesSelected!: string[]

  @PropSync('neighborhoods', { type: Array, default: () => []})
  neighborhoodSelected!: string[]

  @Emit('search-by-code')
  searchByCode() {
    return {}
  }

  @Emit('search')
  search() {
    return {}
  }

  availablePropertyTypes: string[] = []
  location: States[] = []
  alertFilterSelect: boolean = false

  mounted() {
    this.requestTypes()
    this.requestLocation()
  }

  requestTypes() {
    requestPropertyTypes(this.$axios).then((result: any) => {
      for (const type of result) {
        this.availablePropertyTypes.push(this.capitalize(type))
      }
    })
  }

  requestLocation() {
    requestStates(BusinessTypes.BOTH, this.$axios).then((result: StatesResponse) => {
      this.location.length = 0;
      for (const sigla in result) {
        const estadoCidades: Cidade[] = [];
        for (const cidadeNome in result[sigla]) {
          const cidade = result[sigla][cidadeNome];
          estadoCidades.push({
            cidade: cidade.cidade,
            bairros: cidade.bairros
          });
        }
        const estado = {
          sigla,
          nome: this.getNomeEstado(sigla),
          cidades: estadoCidades
        }
        this.location.push(estado)
      }
    })
  }

  getNomeEstado(sigla: string): string {
    return estadoSiglaParaNome[sigla] || sigla // retorna a sigla se o nome completo não for encontrado
  }

  get getCities(): string[] {
    // Se this.stateSelected for undefined, null, ou um array vazio, retorne todas as cidades
    let cidades: string[]
    if (!this.statesSelected || this.statesSelected.length === 0) {
      cidades = this.location.flatMap(estado => estado.cidades.map(cidade => cidade.cidade))
    } else {
      // Cria um conjunto com as siglas dos estados selecionados para pesquisa eficiente
      const estadosSelecionados = new Set(this.statesSelected)

      // Filtra os estados que correspondem às siglas selecionadas e extrai as cidades
      cidades = this.location
        .filter(estado => estadosSelecionados.has(estado.sigla))
        .flatMap(estado => estado.cidades.map(cidade => cidade.cidade))
    }

    // Ordene as cidades em ordem alfabética
    cidades.sort((a, b) => a.localeCompare(b))

    return cidades
  }

  get getNeighborhoods(): string[] {
    const bairros: string[] = []

    // Verificar se estado ou cidade foi selecionado
    const estadoSelecionado = this.statesSelected && this.statesSelected.length > 0
    const cidadeSelecionada = this.citiesSelected && this.citiesSelected.length > 0

    // Se nenhum estado ou cidade estiver selecionado, retorne todos os bairros
    if (!estadoSelecionado && !cidadeSelecionada) {
      this.location.forEach(estado => {
        estado.cidades.forEach(cidade => {
          if (cidade.bairros) { // Verifique se bairros está definido
            bairros.push(...cidade.bairros) // Adicione bairros à lista
          }
        })
      })
    } else if (cidadeSelecionada && this.citiesSelected) {
      // Se uma cidade estiver selecionada, retorne apenas os bairros dessa cidade
      this.citiesSelected.filter(Boolean).forEach(cityName => { // Filtrar valores indefinidos
        this.location.forEach(estado => {
          estado.cidades.forEach(cidade => {
            if (cidade.cidade === cityName && Array.isArray(cidade.bairros)) { // Verifique se a cidade corresponde e se bairros é um array
              bairros.push(...cidade.bairros) // Adicione bairros à lista
            }
          })
        })
      })
    }
    else if (estadoSelecionado && this.statesSelected) {
      // Se um estado estiver selecionado, retorne apenas os bairros desse estado
      const estadosSelecionados = new Set(this.statesSelected.filter(Boolean)) // Filtrar valores indefinidos
      this.location
        .filter(estado => estadosSelecionados.has(estado.sigla))
        .forEach(estado => {
          estado.cidades.forEach(cidade => {
            if (Array.isArray(cidade.bairros)) { // Verifique se bairros é um array
              bairros.push(...cidade.bairros) // Adicione bairros à lista
            }
          })
        })
    }

    // Ordene os bairros em ordem alfabética
    bairros.sort((a, b) => a.localeCompare(b))

    return bairros
  }

  validation() {
    if (this.propTypesSelected.length > 0 || this.statesSelected.length > 0 || this.citiesSelected.length > 0 || this.neighborhoodSelected.length > 0) {
      this.search()
    } else {
      this.alertFilterSelect = true
    }
  }

  capitalize(text: string): string {
    return text.toLowerCase().split(' ').map(word => {
      return word.charAt(0).toUpperCase() + word.slice(1)
    }).join(' ')
  }
}
</script>

<style scoped>
.button-size {
  width: 90%;
}
.button-name {
  font-size: 17px;
  text-transform: capitalize;
  color: white;
}
@media (max-width: 960px) {
  .button-size {
    width: auto;
  }
  .button-name {
    font-size: 16px;
    color: white;
  }
}
</style>
