<template>
  <v-app>
    <v-app-bar app dense outlined elevation="0" style='background-color: white'>
      <div style="padding-top: 26px; padding-bottom: 20px;">
        <a href="/">
          <v-img
            class="mt-n1"
            contain
            max-height="48px"
            max-width="48px"
            :src="require('@/assets/img/altatech-colored-icon.png')"
          >
          </v-img>
        </a>
      </div>

      <v-spacer />

      <v-toolbar-items>
        <v-btn class="font-weight-bold" to="/comprar" text><span :style='`color: ${color1}`'>Comprar</span></v-btn>
        <v-btn class="font-weight-bold" to="/alugar" text><span :style='`color: ${color2}`'>Alugar</span></v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <v-main>
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'DefaultLayout',
  data() {
    return {
      color1: '',
      color2: '',
    }
  },
  watch: {
    '$route': function(newRoute) {
      if (newRoute.path === "/comprar") {
        this.color1 = '#FF6600'
        this.color2 = ''
      } else {
        this.color1 = ''
        this.color2 = '#FF6600'
      }
    }
  },
  mounted() {
    const path = window.location.pathname
    if (path === "/comprar") {
      this.color1 = '#FF6600'
    } else {
      this.color2 = '#FF6600'
    }
  }
}
</script>

<style>
html { overflow-y: auto }
</style>
