<template>
  <v-app>
    <v-app-bar app dense elevation="1" style='background-color: #0C2A44'>
      <div style="padding-top: 26px; padding-bottom: 20px;">
        <a href="/">
          <v-img
            class="mt-n1"
            contain
            max-height="50px"
            max-width="50px"
            :src="require('@/assets/img/altatech-colored-icon2.png')"
          >
          </v-img>
        </a>
      </div>

      <v-spacer />

      <v-toolbar-items>
        <v-btn-toggle
          v-model="toggleBusinessType"
          mandatory
          rounded
          dark
          group
          class='mt-n1'
          color='white'
        >
          <v-btn outlined>
            <span :style='`color: ${color1}`'>Comprar</span>
          </v-btn>
          <v-btn outlined>
            <span :style='`color: ${color2}`'>Alugar</span>
          </v-btn>
        </v-btn-toggle>
      </v-toolbar-items>
    </v-app-bar>
    <v-main>
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'LandingPageLayout',
  data() {
    return {
      toggleBusinessType: 0,
      color1: '#FF6600',
      color2: '',
    }
  },
  watch: {
    toggleBusinessType(newVal) {
      if (newVal === 0) {
        this.color1 = '#FF6600'
        this.color2 = ''
      } else if (newVal === 1) {
        this.color1 = ''
        this.color2 = '#FF6600'
      }

      this.$store.commit('setToggleBusinessType', newVal)
    }
  }

}
</script>
<style>

</style>
