<template>
  <PrivacyPolicy/>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component({
  components: {
    PrivacyPolicy: () => import('@/views/PrivacyPolicy.vue'),
  },
})
export default class PoliticaDePrivacidade extends Vue {
  head() {
    return {
      title: 'Política de Privacidade - Altatech Imóveis',
    }
  }
}
</script>
