<template>
  <TermsUse/>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component({
  components: {
    TermsUse: () => import('@/views/TermsUse.vue'),
  },
})
export default class TermosDeUso extends Vue {
  head() {
    return {
      title: 'Termos de Uso - Altatech Imóveis',
    }
  }
}
</script>
