<template>
	<div ref="googleMap" class="map" :style="{ minHeight }"></div>
</template>

<script lang="ts">
import MarkerClusterer from '@googlemaps/markerclustererplus'
import { Component, PropSync, Vue } from 'nuxt-property-decorator'
import InfoWindowComponent from './InfoWindow.vue'
import { Property } from '~/models/Property'
import { formatPriceRoundUp } from '@/utils/formatter'

@Component
export default class GoogleMapLoader extends Vue {
	@PropSync('properties', { type: Array, required: true })
	mapItems!: Property[]

	@PropSync('mapHeight', { type: String, default: 'calc(100vh - 48px)' })
	minHeight!: string

	map: any
	bounds: any
	markers: any[] = []

	mounted() {
		this.map = this.initializeMap()
		const noPoi = [
			{
				featureType: 'poi',
				stylers: [
					{ visibility: 'off' }
				]
			}
		]

		this.map.setOptions({styles: noPoi})
		this.drawMap(this.map, this.mapItems)
		// eslint-disable-next-line no-new
		new MarkerClusterer(this.map, this.markers, {
			title: 'Clique para aproximar',
			styles: [
				{
					width: 30,
					height: 30,
					className: 'custom-clustericon-1',
				},
				{
					width: 40,
					height: 40,
					className: 'custom-clustericon-2',
				},
				{
					width: 50,
					height: 50,
					className: 'custom-clustericon-3',
				},
			],
			clusterClass: 'custom-clustericon',
		})
	}

	initializeMap() {
		const element: any = this.$refs.googleMap
		return new google.maps.Map(element, {
			zoom: 10,
			fullscreenControl: false,
			mapTypeControlOptions: {
				mapTypeIds: [],
			},
			mapTypeId: google.maps.MapTypeId.ROADMAP,
		})
	}

	drawMap(map: google.maps.Map, properties: Property[]) {
		this.buildMarkers(map, properties)
		map.fitBounds(this.bounds)
		map.panToBounds(this.bounds)
	}

	buildMarkers(map: any, properties: Property[]) {
		this.bounds = new google.maps.LatLngBounds()
		for (const property of properties) {
			if (property.geolocation) {
				const marker: any = this.constructMarker(map, property.geolocation.lat, property.geolocation.lon, property)
				this.bounds.extend(marker.getPosition())
			}
		}
	}

	constructMarker(map: any, latitude: number, longitude: number, property: Property) {
		const imgIcon = {
			url: 'https://cdn-icons-png.flaticon.com/512/727/727590.png',
			scaledSize: new google.maps.Size(36, 36),
		}
		const marker = new google.maps.Marker({
			position: new google.maps.LatLng(latitude, longitude),
			icon: imgIcon,
			map,
		})

		this.markers.push(marker)

		const InfoWindow = Vue.extend(InfoWindowComponent)
		const instance = new InfoWindow({
			propsData: {
				property,
				select: this.select,
			},

		})

		instance.$mount()

		const infowindow = new google.maps.InfoWindow({
			content: instance.$el,
			maxWidth: 380,
		})

		const infowindow2 = new google.maps.InfoWindow({
			content: `
			<h3>Aluguel: R$ ${formatPriceRoundUp(property.values?.rent.toString())}</h3>
			<h3 style="color: green">Total R$ ${formatPriceRoundUp(this.totalRent(property).toString())}</h3>`,
			maxWidth: 380,
		})

		marker.addListener('click', () => {
			infowindow2.close()
			infowindow.open(map, marker)
		})

		map.addListener('click', () => {
			infowindow.close()
		})

		map.addListener('center_changed', () => {
			infowindow.close()
		})

		marker.addListener('mouseout', () => {
			infowindow2.close()
		})

		return marker
	}

	totalRent(property: Property) {
		let total = 0
		if (property.values) {
			for (const value of Object.values(property.values)) {
				total += Number(value)
			}
		}
		return total
	}

	select(propertyId?: string) {
		this.$router.push('/comprar/' + propertyId)
	}
}
</script>

<style>
.map {
	border-radius: 4px;
	box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.custom-clustericon {
	background: var(--cluster-color);
	color: var(--cluster-text-color);
	border-radius: 100%;
	border: var(--cluster-border);
	font-weight: bold;
	font-size: 15px;
	display: flex;
	align-items: center;
}

.custom-clustericon::before,
.custom-clustericon::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;

	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background: var(--cluster-color);
	opacity: 0.2;
	border-radius: 100%;
}

.custom-clustericon::before {
	padding: 7px;
}

.custom-clustericon::after {
	padding: 14px;
}

.custom-clustericon-1 {
	--cluster-color: #4eb6ac;
	--cluster-border: 0.5px solid rgba(255, 255, 255, 0.486);
	--cluster-text-color: white;
}

.custom-clustericon-2 {
	--cluster-color: #ff9b00;
	--cluster-border: 0.5px solid rgba(241, 241, 241, 0.726);
	--cluster-text-color: white;
}

.custom-clustericon-3 {
	--cluster-color: #ff6969;
	--cluster-border: 0.5px solid rgba(196, 196, 196, 0.486);
	--cluster-text-color: white;
}
.maps-box-container {
	width: 0px; height: 0px; background-color: transparent; position: absolute;
	user-select: none;
	cursor: pointer;
    touch-action: none;
}
.maps-box-inner {
	-webkit-text-size-adjust: 100%;letter-spacing: 0;text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;font: 400 11px Roboto, Arial, sans-serif;cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default;box-sizing: border-box;color: #191f23;width: fit-content;height: 24px;display: flex;padding: 0 8px;background: #ffffff;box-shadow: 0px 2px 4px rgba(25, 31, 35, 0.24);transition: all 0.1s;align-items: center;white-space: nowrap;border-radius: 48px;justify-content: center;
	user-select: none;
	cursor: pointer;
    touch-action: none;
}
.maps-box-inner:hover {
	color: #ffffff;
    cursor: pointer;
    z-index: 99999;
    position: absolute;
    background: #191f23;
}
.maps-box-text {
	-webkit-text-size-adjust: 100%;letter-spacing: 0;text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;font: 400 11px Roboto, Arial, sans-serif;cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default;color: #191f23;white-space: nowrap;font-family: HelveticaNowText-Bold,Arial,sans-serif;font-weight: 700;line-height: 1.125rem;box-sizing: border-box;font-size: 0.75rem;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-tc::after,
.gm-style .gm-style-iw-t::after {
	background: #2e2e2e;
}
.gm-ui-hover-effect > span {
	fill: red;
}

</style>

<!-- Referencias -->
<!-- https://developers.google.com/maps/documentation/javascript/events -->
<!-- https://developers.google.com/maps/documentation/javascript/examples/event-closure -->
<!-- https://developers.google.com/maps/documentation/javascript/examples/event-simple -->
<!-- https://developers.google.com/maps/documentation/javascript/custom-markers -->
<!-- http://kml4earth.appspot.com/icons.html -->
