<template>
	<v-container class="pa-0" style="max-width: 100%; overflow: hidden; background-color: #212121;" v-if="propertyMarker">
		<v-card flat @click="onSelect(propertyMarker.idCRM)" style='background-color: #212121; color: #BDBDBD '>
			<img
				v-if="propertyMarker.images"
				:src="propertyMarker.images[0].url"
				width="280"
				style="max-height: 180px"
				:alt="propertyMarker.images[0].name"
			/>
			<v-row no-gutters class='mt-1' style='background-color: #212121;'>
				<v-col style="cursor:pointer; color: #BDBDBD" class="ml-2 mt-2" >
					<h3>{{ propertyMarker.type }} </h3>
				</v-col>
				<v-col style='background-color: #212121;' class='text-end'>
					<v-chip class='theme--dark mt-1' color='#373737' style='height: 25px'>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style='height: 16px; width: 16px; fill: white' class='mr-1'><title>tag</title><path d="M5.5,7A1.5,1.5 0 0,1 4,5.5A1.5,1.5 0 0,1 5.5,4A1.5,1.5 0 0,1 7,5.5A1.5,1.5 0 0,1 5.5,7M21.41,11.58L12.41,2.58C12.05,2.22 11.55,2 11,2H4C2.89,2 2,2.89 2,4V11C2,11.55 2.22,12.05 2.59,12.41L11.58,21.41C11.95,21.77 12.45,22 13,22C13.55,22 14.05,21.77 14.41,21.41L21.41,14.41C21.78,14.05 22,13.55 22,13C22,12.44 21.77,11.94 21.41,11.58Z" /></svg>
						<span style='color: #BDBDBD'>{{ propertyMarker.idCRM }}</span>
					</v-chip>
				</v-col>
			</v-row>
      <v-row class='ml-2 mt-1' no-gutters style="cursor: pointer">
        <v-col v-if="propertyMarker.businessType === BusinessTypes.SALE">
          <v-list-item-subtitle v-if="propertyMarker.values && propertyMarker.values.sellingValue>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ propertyMarker.values.sellingValue | formatingPrice }} </v-list-item-subtitle>
          <v-list-item-subtitle v-if="propertyMarker.values && propertyMarker.values.sellingValue<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>
        </v-col>
        <v-col v-else-if="propertyMarker.businessType === BusinessTypes.RENT">
          <v-list-item-subtitle v-if="propertyMarker.values && propertyMarker.values.rent>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ propertyMarker.values.rent | formatingPrice }} </v-list-item-subtitle>
          <v-list-item-subtitle v-if="propertyMarker.values && propertyMarker.values.rent<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>
        </v-col>
        <v-col v-else-if="propertyMarker.businessType === BusinessTypes.BOTH">
          <v-row v-if="$nuxt.$route.path === '/comprar'">
            <v-col>
              <v-list-item-subtitle v-if="propertyMarker.values && propertyMarker.values.sellingValue>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ propertyMarker.values.sellingValue | formatingPrice }} </v-list-item-subtitle>
              <v-list-item-subtitle v-if="propertyMarker.values && propertyMarker.values.sellingValue<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>
              <v-list-item-subtitle style='color: #FF6600' class="pl-1">venda</v-list-item-subtitle>
            </v-col>
            <v-col>
              <v-list-item-subtitle v-if="propertyMarker.values && propertyMarker.values.rent>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ propertyMarker.values.rent | formatingPrice }} </v-list-item-subtitle>
              <v-list-item-subtitle v-if="propertyMarker.values && propertyMarker.values.rent<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>
              <v-list-item-subtitle style='color: #FF6600' class="pl-1">aluguel</v-list-item-subtitle>
            </v-col>
          </v-row>
          <v-row v-if="$nuxt.$route.path === '/alugar'">
            <v-col>
              <v-list-item-subtitle v-if="propertyMarker.values && propertyMarker.values.rent>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ propertyMarker.values.rent | formatingPrice }} </v-list-item-subtitle>
              <v-list-item-subtitle v-if="propertyMarker.values && propertyMarker.values.rent<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>
              <v-list-item-subtitle style='color: #FF6600' class="pl-1">aluguel</v-list-item-subtitle>
            </v-col>
            <v-col>
              <v-list-item-subtitle v-if="propertyMarker.values && propertyMarker.values.sellingValue>1" class="text-lg-h6 float-left font-weight-bold" style='color: #FF6600'>R$ {{ propertyMarker.values.sellingValue | formatingPrice }} </v-list-item-subtitle>
              <v-list-item-subtitle v-if="propertyMarker.values && propertyMarker.values.sellingValue<1" style='color: #FF6600'><h2>Valor Sob Consulta</h2></v-list-item-subtitle>
              <v-list-item-subtitle style='color: #FF6600' class="pl-1">venda</v-list-item-subtitle>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
			<v-row class='mt-2 ml-2' no-gutters style="cursor: pointer">
				<v-col>
					<span class=""><h4>{{ locationText }}</h4></span>
				</v-col>
			</v-row>
			<v-card-text class="pa-0">
				<v-list-item class='px-0 pl-2 pb-1 pt-2' dense v-if="propertyMarker.areaLand || propertyMarker.quantityBedrooms">
					<v-list-item-subtitle style='color: #BDBDBD; width: 200px'>
					<span v-if="propertyMarker.areaLand" class="mr-5">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style='height: 18px; width: 18px; fill: white; position: relative; top: 5px' class='mr-1'><title>image-size-select-small</title><path d="M23,15H21V17H23V15M23,11H21V13H23V11M23,19H21V21C22,21 23,20 23,19M15,3H13V5H15V3M23,7H21V9H23V7M21,3V5H23C23,4 22,3 21,3M3,21H11V15H1V19A2,2 0 0,0 3,21M3,7H1V9H3V7M15,19H13V21H15V19M19,3H17V5H19V3M19,19H17V21H19V19M3,3C2,3 1,4 1,5H3V3M3,11H1V13H3V11M11,3H9V5H11V3M7,3H5V5H7V3Z" /></svg>
						<span>{{ propertyMarker.areaLand }} {{ unitMeasure }}</span>
					</span>
						<span v-if="propertyMarker.quantityBedrooms">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style='height: 18px; width: 18px; fill: white; position: relative; top: 5px' class='mr-1'><title>bed</title><path d="M19,7H11V14H3V5H1V20H3V17H21V20H23V11A4,4 0 0,0 19,7M7,13A3,3 0 0,0 10,10A3,3 0 0,0 7,7A3,3 0 0,0 4,10A3,3 0 0,0 7,13Z" /></svg>
						<span class="mr-5">{{ propertyMarker.quantityBedrooms }} quarto{{ propertyMarker.quantityBedrooms>1?'s':''}}</span>
					</span>
						<span v-if="propertyMarker.vacanciesGarage">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style='height: 18px; width: 18px; fill: white; position: relative; top: 5px' class='mr-1'><title>car</title><path d="M5,11L6.5,6.5H17.5L19,11M17.5,16A1.5,1.5 0 0,1 16,14.5A1.5,1.5 0 0,1 17.5,13A1.5,1.5 0 0,1 19,14.5A1.5,1.5 0 0,1 17.5,16M6.5,16A1.5,1.5 0 0,1 5,14.5A1.5,1.5 0 0,1 6.5,13A1.5,1.5 0 0,1 8,14.5A1.5,1.5 0 0,1 6.5,16M18.92,6C18.72,5.42 18.16,5 17.5,5H6.5C5.84,5 5.28,5.42 5.08,6L3,12V20A1,1 0 0,0 4,21H5A1,1 0 0,0 6,20V19H18V20A1,1 0 0,0 19,21H20A1,1 0 0,0 21,20V12L18.92,6Z" /></svg>
						<span>{{ propertyMarker.vacanciesGarage }} Vaga{{ propertyMarker.vacanciesGarage>1?'s':''}}</span>
					</span>
					</v-list-item-subtitle>
				</v-list-item>
			</v-card-text>
		</v-card>
	</v-container>
</template>

<script lang="ts">
import {Component, Vue, Prop, PropSync} from 'nuxt-property-decorator'
import { BusinessTypes, Property, PropertyZones } from '~/models/Property'
import { getType } from '@/utils/property.utils'

@Component
export default class InfoWindow extends Vue {
	@PropSync('property',{ type: Object, required: true })
	propertyMarker!: Property

	@PropSync('select',{ type: Function, required: true })
	onSelect!: Function

	get unitMeasure() {
		switch (this.propertyMarker.unitMeasure) {
			case 'M2':
				return 'm²'
			case 'ALQUEIRES':
				return 'Alq'
			case 'HECTARES':
				return 'Ha'
			default:
				return 'm²'
		}
	}

	get BusinessTypes () {
		return BusinessTypes
	}

	get title() {
		if (!this.propertyMarker.type) {
			// console.log('sem propertyMarker type:', this.propertyMarker)
			return ''
		}
		let title = `${getType(this.propertyMarker.type) || this.propertyMarker.type}`
		if (this.propertyMarker.neighborhood) {
			title += ` no ${this.propertyMarker.neighborhood}`
		} else if (this.propertyMarker.city) {
			title += ` em ${this.propertyMarker.city}`
		}
		return title
	}

	get locationText() {
		let text = ''
		if (this.propertyMarker.neighborhood && this.propertyMarker.city) {
			text += `${this.propertyMarker.neighborhood}, ${this.propertyMarker.city}, ${this.propertyMarker.state}`
		} else if (this.propertyMarker.city && this.propertyMarker.state) {
			text += `${this.propertyMarker.city}, ${this.propertyMarker.state}`
		} else if (this.propertyMarker.state) {
			text += `${this.propertyMarker.state}, ${this.propertyMarker.state}`
		} else if (this.propertyMarker.zone === PropertyZones.RURAL) {
			text += `${this.propertyMarker.city}, ${this.propertyMarker.state}`
		}

		return text
	}

	get totalRent() {
		let total = 0
		if (this.propertyMarker.values) {
			for (const value of Object.values(this.propertyMarker.values)) {
				total += Number(value)
			}
		}
		return total
	}
}
</script>
