<template>
  <v-container v-if="loading" fluid style='background-color: #424242;'>
    <v-row no-gutters>
      <v-col class="px-2">
        <v-row>
          <v-skeleton-loader class="mt-3 px-3" type="image" width="100%"></v-skeleton-loader>
        </v-row>
        <v-row>
          <v-col><v-skeleton-loader type="image" width="100%"></v-skeleton-loader></v-col>
          <v-col><v-skeleton-loader type="image" width="100%"></v-skeleton-loader></v-col>
          <v-col><v-skeleton-loader type="image" width="100%"></v-skeleton-loader></v-col>
        </v-row>
        <v-row>
          <v-col><v-skeleton-loader type="image" width="100%"></v-skeleton-loader></v-col>
          <v-col><v-skeleton-loader type="image" width="100%"></v-skeleton-loader></v-col>
          <v-col><v-skeleton-loader type="image" width="100%"></v-skeleton-loader></v-col>
        </v-row>
      </v-col>
      <v-col class="px-2">
        <v-row>
          <v-skeleton-loader class="mt-3 px-2" type="table-heading" width="100%"/>
          <v-skeleton-loader class="mt-1 px-2" type="list-item-three-line" width="100%"/>
          <v-skeleton-loader class="mt-1 px-2" type="list-item-three-line" width="100%"/>
          <v-skeleton-loader class="mt-1 px-2" type="list-item-three-line, image, table-tfoot" width="100%"/>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
  <PropertyDetailsView v-else-if="!loading && property" :property-service="property"/>
</template>

<script lang="ts">
import {Component, Vue} from "nuxt-property-decorator"
import { NuxtAxiosInstance } from "@nuxtjs/axios";
import SearchService from '@/service/SearchService'
import {BusinessTypes, Property} from "~/models/Property";

interface AsyncDataParams {
  $axios: NuxtAxiosInstance,
  route: Record<string, any>,
}

@Component({
  components: {
    PropertyDetailsView: () => import('@/views/PropertyDetailsView.vue'),
  },
})

export default class PropertyPage extends Vue{
  loading = false
  property: Property | null = null
  image = ''

  head() {
    let ogTitle
    const valueSaleFormatted = this.property?.valueSale?.toLocaleString('pt-BR', {
      style: 'currency',
      currency: 'BRL'
    })
    const valueLocationFormatted = this.property?.valueLocation?.toLocaleString('pt-BR', {
      style: 'currency',
      currency: 'BRL'
    })

    if (this.property?.businessType === this.BusinessTypes.SALE) {
      ogTitle = this.property?.title + ' • ' + this.property?.idCRM + ' • ' + valueSaleFormatted
    } else if (this.property?.businessType === this.BusinessTypes.RENT) {
      ogTitle = this.property?.title + ' • ' + this.property?.idCRM + ' • ' + valueLocationFormatted
    } else if (this.property?.businessType === this.BusinessTypes.BOTH) {
      ogTitle = this.property?.title + ' • ' + this.property?.idCRM + ' • ' + valueSaleFormatted + ' | ' + valueLocationFormatted
    } else {
      ogTitle = this.property?.title + ' • ' + this.property?.idCRM
    }

    return {
      title: this.property?.title,
      meta: [
        { hid: 'og:image', name: 'og:image', content: this.image },
        { hid: 'title', name: 'title', content: this.property?.title },
        { hid: 'og:title', name: 'og:title', property: 'og:title', content: ogTitle},
        { hid: 'og:description', name: 'og:description', property: 'og:description', content: 'Acesse o link para mais informações!' },
        { hid: 'description', name: 'description', property: 'description', content: 'Descrição do site 2' }
      ]
    }
  }

  async asyncData({ $axios, route }: AsyncDataParams) {
    let property, image
    property = await SearchService.getPropertyById(route.params.id, $axios)
    if (property && property.images && property.images.length > 0) {
      image = property.images[0].url
    }
    if (!property) {
      property = null
    }
    return {
      property,
      image
    }
  }

  get BusinessTypes() {
    return BusinessTypes
  }
}
</script>

<style scoped>

</style>
