<template>
  <RentProperties/>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component({
  components: {
    RentProperties: () => import('@/views/RentProperties.vue'),
  },
})
export default class RentPropertiesView extends Vue {
  head() {
    return {
      title: 'Alugar',
      meta: [
        { hid: 'og:image', name: 'og:image', content: 'https://bytebucket.org/plataformaimobiliaria/site/raw/12b4af63550cbd7c68288c692d9826a0e4efd024/assets/img/altatech-orange-template.png' },
        { hid: 'title', name: 'title', content: 'ALTATECH imóveis' },
        { hid: 'og:title', name: 'og:title', property: 'og:title', content: 'ALTATECH imóveis' },
        { hid: 'og:site_name', name: 'og:site_name', property: 'og:site_name', content: 'ALTATECH imóveis' },
        { hid: 'apple-mobile-web-app-title', name: 'apple-mobile-web-app-title', property: 'apple-mobile-web-app-title', content: 'ALTATECH imóveis' },
        { hid: 'og:description', name: 'og:description', property: 'og:description', content: 'Acesse o link para mais informações!' },
      ],
    }
  }
}
</script>
